.card {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.logo {
  width: 500px;
  max-width: 100%;
}

.center {
  text-align: center;
}

.leftAlign {
  text-align: left;
}

@media only screen and (max-width: 680px) {
  .card {
    width: 90%;
  }
}
