.ftIconButton {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  position: relative;
}

.iconButton {
  width: 1em;
  height: 1em;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.shadow {
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.iconButton:hover {
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.base {
  background-color: var(--card-bg-color);
  color: var(--primary-text-color);
}

.base:hover {
  background-color: var(--side-nav-hover-color);
}

.base:active {
  background-color: var(--side-nav-active-color);
}

.primary {
  background-color: var(--primary-color);
  color: var(--text-with-main-color);
}

.primary:hover {
  background-color: var(--primary-color-hover);
}

.primary:active {
  background-color: var(--primary-color-active);
}

.secondary {
  background-color: var(--accent-color);
  color: var(--text-with-accent-color);
}

.secondary:hover {
  background-color: var(--accent-color-hover);
}

.secondary:active {
  background-color: var(--accent-color-active);
}

.iconDropdown {
  position: absolute;
  text-align: center;
  list-style-type: none;
  z-index: 100;
  margin-top: 45px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  background-color: var(--card-bg-color);
  color: var(--secondary-text-color);
}

.iconDropdown p {
    padding: 10px;
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}

.iconDropdown p:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.iconDropdown p:active {
  background-color: var(--side-nav-active-color);
  -moz-transition: background 0.1s ease-in;
  -o-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}

.iconDropdown p a {
    text-decoration: none;
    color: inherit;
}

.left {
  right: 50%;
}

.right {
  left: 50%;
}
