.playlistTitle, .channelName {
  text-decoration: none;
  color: inherit;
}

.channelName {
  font-size: 15px;
  position: relative;
  bottom: 15px;
}

.playlistIndex {
  position: relative;
  bottom: 15px;
  color: var(--tertiary-text-color);
}

.playlistProgressBar {
  margin-left: 10px;
  /* > In order to let ::-webkit-progress-value take effect, appearance needs to be set to none on the <progress> element. */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-progress-value */
  appearance: none;
}

.playlistProgressBar::-webkit-progress-value {
  /* Color for filled part */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-progress-value */
  /* background-color is required to be declared here to prevent color being green */
  background-color: var(--accent-color);
}

.playlistProgressBar::-webkit-progress-bar {
  /* Color for unfilled part */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-progress-bar */
  background-color: var(--secondary-text-color);
}

.playlistIcon {
  font-size: 20px;
  padding: 10px;
  margin-top: -25px;
  cursor: pointer;
  border-radius: 50%;
  color: var(--tertiary-text-color);
  transition: background 0.2s ease-out;
}

.playlistIcon:hover {
  background-color: var(--side-nav-hover-color);
  transition: background 0.2s ease-in;
}

.playlistIconActive {
  color: var(--accent-color)
}

.playlistItems {
  overflow-y: auto;
  height: 360px;
}

.playlistItem {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  transition: background 0.2s ease-out;
}

.playlistItem:not(:last-child) {
  margin-bottom: 8px;
}

.playlistItem:hover {
  background-color: var(--side-nav-hover-color);
  transition: background 0.2s ease-in;
}

.videoIndexContainer {
  text-align: center;
}

.videoIndex {
  color: var(--tertiary-text-color);
}

.videoIndexIcon {
  font-size: 14px;
  color: var(--tertiary-text-color);
}

.videoInfo {
  margin-left: 30px;
  position: relative;
  bottom: 7px;
}
