.watchVideoInfo {
  column-gap: 15px;
  display: grid;
  grid-template-columns: auto minmax(min-content, 1fr);
  padding: 16px;

  @media screen and (max-width: 680px) {
    grid-template-columns: auto;
  }
}

.videoTitle {
  display: block;
  font-size: 22px;
  font-weight: normal;
  margin-block: 0 24px;
  margin-inline: 0;
  margin-block-end: 1em;
  word-break: break-word;
}

.channelInformation {
  .profileRow {
    display: flex;
  }

  .channelThumbnail {
    border-radius: 50%;
    cursor: pointer;
    margin-inline-end: 10px;
    width: 56px;
  }

  .channelName {
    color: inherit;
    cursor: pointer;
    display: block;
    margin-inline-start: 6px;
    position: relative;
    text-decoration: inherit;
    inset-block-start: -2px;
  }

  .subscribeButton {
    font-size: 14px;
    margin-inline-start: 6px;
    margin-block-start: 6px;
    padding: 6px;
  }
}

.viewCount,
.datePublished {
  color: var(--secondary-text-color);
  font-size: 15px;
  text-align: end;

  @media screen and (max-width: 680px) {
    text-align: start;
  }
}

.viewCount {
  margin-block: 18px 0;
  margin-inline: 0;
}

.datePublished {
  margin: 4px 0 0;

  @media screen and (max-width: 680px) {
    margin-block-start: 16px;
  }
}

.likeSection {
  color: var(--tertiary-text-color);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-inline-start: auto;
  margin-block-start: 4px;
  max-width: 210px;
  text-align: end;

  @media screen and (max-width: 680px) {
    margin-inline-start: 0;
    text-align: start;
  }

  .likeBar {
    border-radius: 4px;
    height: 8px;
    margin-block-end: 4px;
  }

  .likeCount {
    margin-inline-end: 0;
  }
}

.videoOptions {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 16px;

  .option:not(:first-child) {
    margin-inline-start: 4px;
  }

  @media screen and (max-width: 680px) {
    justify-content: flex-start;

    :deep(.iconDropdown) {
      inset-inline-start: calc(50% - 20px);
      inset-inline-end: auto;
    }
  }
}
