.relative {
  position: relative;
}

.watchVideoInfo {
  min-height: 130px;
}

.videoTitle {
  font-size: 22px;
  max-width: 45%;
}

.channelInformation {
  position: absolute;
  bottom: 10px;
  width: 350px;
}

.channelThumbnail {
  cursor: pointer;
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
}

.channelName {
  position: absolute;
  top: 0px;
  left: 55px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.subscribeButton {
  height: 20px;
  position: absolute;
  top: 20px;
  left: 50px;
  line-height: 1px;
  font-size: 0.8rem;
}

.viewCount {
  position: absolute;
  right: 15px;
  bottom: 30px;
}

.likeBarContainer {
  position: absolute;
  right: 15px;
  bottom: 35px;
  width: 300px;
  height: 5px;
}

.likeBar {
  background-color: var(--accent-color);
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
}

.dislikeBar {
  background-color: #9E9E9E;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
}

.likeCountContainer {
  position: absolute;
  right: 15px;
  bottom: 0px;
  font-size: 12px;
  color: var(--tertiary-text-color);
}

.videoOptions {
  position: absolute;
  right: 15px;
  top: 20px;
  width: 175px;
}

@media only screen and (max-width: 1500px) {
  .videoOptions {
    width: 175px;
  }

  .watchVideoInfo {
    min-height: 150px;
  }
}

@media only screen and (max-width: 1350px) {
  .theatreModeButton {
    display: none;
  }

  .watchVideoInfo {
    min-height: 130px;
  }

  .videoOptions {
    width: 120px;
  }
}
