.grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
  justify-content: space-evenly;
}

@media (width <= 680px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (681px <= width <= 1100px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.list {
  display: grid;
  gap: 4px;
}
