.shareLinks {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  padding: 12px;
  inline-size: max-content;
}

.header {
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: bold;
  margin-block: 4px 8px;
  margin-inline: 0;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  max-inline-size: min-content;
  min-inline-size: 150px;
}

.action {
  padding: 6px;
  white-space: initial;
}

.divider {
  background: var(--tertiary-text-color);
  grid-row: span 3;
  margin-block: 0;
  margin-inline: 12px;
  inline-size: 1px;
}

.youtubeLogo {
  block-size: 18px;
  inline-size: auto;
}

.invidious {
  letter-spacing: -0.4px;
}

.invidiousLogo {
  background-size: cover;
  display: inline-block;
  block-size: 20px;
  margin-inline-end: 2px;
  inline-size: 20px;
}

@media only screen and (width <= 450px) {
  .shareLinks {
    grid-auto-flow: row;
    margin-inline: auto;
    justify-items: center;
    max-inline-size: max-content;
  }

  .header.invidious {
    margin-block-start: 20px;
  }

  .buttons {
    max-inline-size: min-content;
    min-inline-size: 180px;
  }

  .divider {
    display: none;
  }
}
