.topNav {
    background-color: var(--card-bg-color);
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    -webkit-box-shadow: 0px 2px 1px 0px var(--primary-shadow-color);
}

.menuIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  color: var(--primary-text-color);
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.menuIcon:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.menuIcon:active {
  background-color: var(--teritary-text-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.navBackIcon {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  color: var(--primary-text-color);
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.navBackIcon:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.navBackIcon:active {
  background-color: var(--teritary-text-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.navForwardIcon {
  position: absolute;
  top: 10px;
  left: 85px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  color: var(--primary-text-color);
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.navForwardIcon:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.navForwardIcon:active {
  background-color: var(--teritary-text-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.logoIcon {
  background-image: url("/_icons/iconColorSmall.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 25px;
  position: absolute;
  top: 20px;
  left: 140px;
  width: 25px;
  height: 25px;
}

.logoText {
  background-image: url("/_icons/textColorSmall.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100px;
  position: absolute;
  top: 9px;
  left: 175px;
  width: 100px;
  height: 40px;
}

.searchContainer {
  margin: 0 auto;
  width: 500px;
  position: relative;
}

.search {
  width: 450px;
}

.navFilterIcon {
  position: absolute;
  padding: 10px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
}

.navFilterIcon:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.navFilterIcon:active {
  background-color: var(--teritary-text-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.searchFilters {
  margin-left: 270px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  transition-property: margin;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.expand {
  margin-left: 100px;
}
