version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "PR: waiting for review"
      - "PR: dependencies"
    open-pull-requests-limit: 15
    groups:
      babel:
        patterns:
          - "@babel/*"
          - "babel-*"
      eslint:
        patterns:
          - "eslint"
          - "eslint-*"
          - "@eslint/*"
          - "yaml-eslint-parser"
          - "vue-eslint-parser"
          - "neostandard"
      stylelint:
        patterns:
          - "stylelint"
          - "stylelint-*"
          - "postcss"
          - "postcss-*"
          - "@double-great/stylelint-a11y"
      fortawesome:
        patterns:
          - "@fortawesome/*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "PR: waiting for review"
      - "PR: dependencies"
