{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "chrome": "98",
          "node": 16
        }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ]
}
