{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "chrome": "122",
          "node": "20.9.0"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties"
  ]
}
