{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "chrome": "106",
          "node": "16.16.0"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ]
}
