.DS_Store
dist/electron/*
storyboards/*
dashFiles/*
static/dashFiles
static/storyboards
static/dashFiles/*
static/storyboards/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
data/tmp/
.tmp/
tmp/
.cache
dist
coverage
__coverage__
csak-timelog.json
.idea/
debug/

# Lefthook
lefthook-local.yml
