.heading {
  text-align: center;
}

.pageBookmarkNameInput {
  inline-size: 80%;
  max-inline-size: 600px;
  margin-inline: auto;
}

.actions-container {
  justify-content: center;
  column-gap: 10px;
}
