.getCommentsTitle {
  height: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}

.center {
  text-align: center;
}

.commentSort {
  float: right;
}

.comment {
  padding: 15px;
  position: relative;
}

.hideComments {
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}

.commentThumbnail {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
}

.commentAuthor {
  font-weight: bold;
  font-size: 14px;
  margin-left: 68px;
  margin-top: 0px;
}

.commentText {
  font-size: 12px;
  margin-top: -10px;
  margin-left: 70px;
}

.commentDate {
  font-weight: normal;
  margin-left: 5px;
  font-size: 12px;
}

.commentLikeCount {
  font-size: 11px;
  margin-left: 70px;
  margin-top: 0px;
}

.commentMoreReplies {
  font-size: 11px;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}

.commentReplies {
  margin-left: 30px;
}

.getMoreComments {
  height: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}
