.card {
  padding-block: 0;
  padding-inline: 16px;
}

.getCommentsTitle,
.commentsTitle,
.getMoreComments {
  margin: 0;
}

.getCommentsTitle {
  padding-block: 8px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}

.noCommentMsg {
  padding-block: 1em;
  text-align: center;
}

.commentsTitle {
  padding-block: 1em;
}

.commentSort {
  float: var(--float-right-ltr-rtl-value);
}

.comment {
  padding: 15px;
  position: relative;
}

.hideComments {
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}

.commentThumbnail {
  float: var(--float-left-ltr-rtl-value);
  width: 60px;
  height: 60px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
}

.commentThumbnailHidden {
  float: var(--float-left-ltr-rtl-value);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 1em;
  text-transform: capitalize;
  color: rgb(0 0 0);
  background-color: rgb(235 160 172);
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.commentAuthorWrapper {
  font-weight: bold;
  font-size: 14px;
  margin-inline-start: 68px;
  margin-block-start: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commentOwner {
  background-color: var(--secondary-card-bg-color);
  border-radius: 10px;
  padding-inline: 10px;
}


.commentAuthor {
  color: inherit;
  text-decoration: none;
}

.commentText {
  white-space: pre-wrap;
  font-size: 14px;
  margin-block-start: -10px;
  margin-inline-start: 70px;
  word-wrap: break-word;
}
.commentPinned {
  font-weight: normal;
  font-size: 12px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 68px;
  margin-block-end: 5px;
}

.commentDate {
  font-weight: normal;
  margin-inline-start: 5px;
  font-size: 12px;
}

.commentMemberIcon {
  margin-inline-start: 5px;
  width: 14px;
  height: 14px;
}

.commentLikeCount {
  font-size: 11px;
  margin-inline-start: 70px;
  margin-block-start: 0px;
}

.commentHeartBadge {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 20px;
  margin-inline-start: 10px;
  margin-block-end: -7px;
}

.commentHeartBadgeImg {
  position: absolute;
  inset-inline-start: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.commentHeartBadgeWhite {
  position: absolute;
  inset-inline-start: 9px;
  inset-block-end: 1px;
  width: 11px;
  height: 11px;
  z-index: 1;
}

.commentHeartBadgeRed {
  position: absolute;
  color: var(--red-500);
  inset-inline-start: 10px;
  inset-block-end: 2px;
  width: 9px;
  height: 9px;
  z-index: 2;
}

.commentMoreReplies {
  font-size: 11px;
  margin-inline-start: 5px;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}

.commentReplies {
  margin-inline-start: 30px;
}

.showMoreReplies {
  margin-inline-start: 30px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
}

.getMoreComments {
  padding-block-end: 1em;

  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}
