.getCommentsTitle {
  height: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}

.center {
  text-align: center;
}

.commentSort {
  float: right;
}

.comment {
  padding: 15px;
  position: relative;
}

.hideComments {
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}

.commentThumbnail {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  cursor: pointer;
}

.commentAuthorWrapper {
  font-weight: bold;
  font-size: 14px;
  margin-left: 68px;
  margin-top: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commentOwner {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
  padding: 0 10px;
}

.commentAuthor {
  cursor: pointer;
}

.commentText {
  white-space: pre-wrap;
  font-size: 14px;
  margin-top: -10px;
  margin-left: 70px;
  word-wrap: break-word;
}
.commentPinned {
  font-weight: normal;
  font-size: 12px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 68px;
  margin-bottom: 5px;
}

.commentDate {
  font-weight: normal;
  margin-left: 5px;
  font-size: 12px;
}

.commentLikeCount {
  font-size: 11px;
  margin-left: 70px;
  margin-top: 0px;
}

.commentHeartBadge {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: -7px;
}

.commentHeartBadgeImg {
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.commentHeartBadgeWhite {
  position: absolute;
  left: 9px;
  bottom: 1px;
  width: 11px;
  height: 11px;
  z-index: 1;
}

.commentHeartBadgeRed {
  position: absolute;
  color: var(--red-500);
  left: 10px;
  bottom: 2px;
  width: 9px;
  height: 9px;
  z-index: 2;
}

.commentMoreReplies {
  font-size: 11px;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}

.commentReplies {
  margin-left: 30px;
}

.showMoreReplies {
  margin-left: 30px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
}

.getMoreComments {
  height: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}
