.colorOption {
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  border-radius: 200px 200px 200px 200px;
}

.initial {
  font-size: 20px;
  text-align: center;
  position: relative;
  bottom: 30px;
}

#profileList {
  position: absolute;
  top: 60px;
  right: 10px;
  min-width: 250px;
  height: 400px;
  padding: 5px;
  background-color: var(--card-bg-color);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#profileList:focus {
  outline: none;
}

.profileWrapper {
  margin-top: 60px;
  height: 340px;
  overflow-y: auto;
}

.profile {
  cursor: pointer;
  height: 50px;
  transition: background 0.2s ease-out;
}

.profile:hover {
  background-color: var(--side-nav-hover-color);
  transition: background 0.2s ease-in;
}

.profile .colorOption {
  float: left;
  position: relative;
  bottom: 5px;
}

.profileName {
  line-height: 50px;
}

.profileListTitle {
  position: absolute;
  top: -15px;
  left: 10px;
}

.profileSettings {
  float: right;
  position: absolute;
  top: 10px;
  right: 5px;
}
