.colorOption {
  width: 40px;
  height: 40px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.colorOption:hover {
  box-shadow: 0 0 0 2px var(--side-nav-hover-color);
}

.initial {
  font-size: 20px;
  line-height: 1em;
  text-align: center;
}

.profileList {
  display: inline;
  position: absolute;
  top: 60px;
  right: 10px;
  min-width: 250px;
  height: 400px;
  padding: 5px;
  background-color: var(--card-bg-color);
  box-shadow: 0 0 4px var(--scrollbar-color-hover);
}

.profileWrapper {
  margin-top: 60px;
  height: 340px;
  overflow-y: auto;
}

.profile {
  cursor: pointer;
  height: 50px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.profile:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.profile .colorOption {
  float: left;
  position: relative;
  bottom: 5px;
  margin: 10px;
}

.profileName {
  line-height: 50px;
}

.profileListTitle {
  position: absolute;
  margin: 0;
  left: 10px;
}

.profileSettings {
  float: right;
  position: absolute;
  top: 10px;
  right: 5px;
}
