<div v-if='seen'>
  <img class='channelViewBanner' :src='banner' />
  <br />
  <div class='channelViewTitle'>
    <img class='channelViewImage' :src='icon' />
    <span class='channelViewName'>{{name}}</span>
    <br />
    <span class='channelViewSubs'>{{subCount}} Subscribers</span>
    <div id='subscribeButton' class='channelSubButton' v-on:click='subscription(id);'>
      {{subButtonText}}
    </div>
  </div>
  <br />
  <hr />
  <div class='channelViewDescription'>
    <span v-html='description'></span>
  </div>
  <br />
  <hr />
</div>
