<div v-if="seen">
    <h1 class="center">Settings</h1>
    <div class='center'>
        <input type="checkbox" id="themeSwitch" name="set-name" class="switch-input" onchange='toggleTheme(this)' :checked='useTheme'>
        <label for="themeSwitch" class="switch-label">Use Dark Theme</label>
        <input type="checkbox" id="updatesSwitch" name="set-name" class="switch-input" :checked='updates'>
        <label for="updatesSwitch" class="switch-label">Check for Updates</label>
        <br />
        <input type="checkbox" id="historySwitch" name="set-name" class="switch-input" :checked='history'>
        <label for="historySwitch" class="switch-label">Remember History</label>
        <input type="checkbox" id="autoplaySwitch" name="set-name" class="switch-input" :checked='autoplay'>
        <label for="autoplaySwitch" class="switch-label">Autoplay Videos</label>
        <input type="checkbox" id="subtitlesSwitch" name="set-name" class="switch-input" :checked='subtitles'>
        <label for="subtitlesSwitch" class="switch-label">Turn on Subtitles by Default</label>
        <br />
        <br />
        <div class="select center">
            <select id='qualitySelect' class="select-text" required>
                <option value="480">480p</option>
                <option value="720" selected>720p</option>
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label">Default Video Quality</label>
        </div>
        <br /><br />
        <div class="select center">
            <select id='rateSelect' class="select-text" required>
                <option value="0.25">0.25x</option>
                <option value="0.5">0.5x</option>
                <option value="0.75">0.75x</option>
                <option value="1" selected>1x</option>
                <option value="1.25">1.25x</option>
                <option value="1.5">1.5x</option>
                <option value="1.75">1.75x</option>
                <option value="2">2x</option>
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label">Default Video Speed</label>
        </div>
        <br />
    </div>
    <div class='center'>
      <div class="input-text-settings">
          <label for="invidiousInstance">Current Invidious Instance (Defaults to https://invidio.us)</label>
          <input  type="text" id="invidiousInstance" name="set-name" v-model="invidiousInstance">
      </div>
    </div>
    <div class="center">
        <input type="checkbox" id="torSwitch" name="set-name" class="switch-input" :checked='useTor'>
        <label for="torSwitch" class="switch-label">Use Tor / Proxy for API calls</label>
        <div class="input-text-settings">
            <label for="proxyAddress">Proxy Address (Example: SOCKS5://127.0.0.1:9050):</label>
            <input  type="text" id="proxyAddress" name="set-name" v-model="proxyAddress">
        </div>

        <div id="ipInfoSettings" v-if="checkProxyResult">
            <h4>Your Info:</h4>
            <p>ip: {{checkProxyResult.ip}}</p>
            <p>ip_decimal: {{checkProxyResult.ip_decimal}}</p>
            <p>country: {{checkProxyResult.country}}</p>
            <p>city: {{checkProxyResult.city || "N/A"}}</p>
            <p>hostname: {{checkProxyResult.hostname || "N/A"}}</p>
        </div>

        <p>Clicking "TEST PROXY" button will send a request to https://ifconfig.co/json</p>
        <div v-on:click='checkProxy' class='center settingsButton'>
            {{proxyTestButtonText}}
        </div>
    </div>
    <br />
    <br />
    <div class='center'>
        <div onclick='importSubscriptions()' class='settingsButton'>
            IMPORT SUBSCRIPTIONS
        </div>
        <div onclick='exportSubscriptions();' class='settingsButton'>
            EXPORT SUBSCRIPTIONS
        </div>
    </div>
    <br />
    <br />
    <div class='center'>
        <div onclick='confirmFunction("Are you sure you want to delete your history?", clearFile, "history")' class='settingsButton'>
            CLEAR HISTORY
        </div>
        <div onclick='confirmFunction("Are you sure you want to remove all saved videos?", clearFile, "saved")' class='settingsButton'>
            CLEAR FAVORITED VIDEOS
        </div>
        <div onclick='confirmFunction("Are you sure you want to remove all subscriptions?", clearFile, "subscriptions")' class='settingsButton'>
            CLEAR SUBSCRIPTIONS
        </div>
    </div>
    <br />
    <br />
    <div onclick='updateSettings()' class='center settingsSubmit'>
        SAVE SETTINGS
    </div>
</div>
