<div class='video'>
  {{{deleteHtml}}}
  <div class='videoOptions'>
    <i class="fas fa-ellipsis-v" onclick='showVideoOptions(this)'></i>
    <ul>
      <li>Open in YouTube</li>
      <li>Open in HookTube</li>
      <li>Save Video</li>
    </ul>
  </div>
  <div class='videoThumbnail'>
    <img onclick='playVideo("{{videoId}}")' src={{videoThumbnail}} />
    <p onclick='playVideo("{{videoId}}")' class='videoDuration'>{{videoDuration}}</p>
  </div>
  <p onclick='playVideo("{{videoId}}")' class='videoTitle'>{{videoTitle}}</p>
  <p onclick='goToChannel("{{channelId}}")' class='channelName'>{{channelName}} - {{publishedDate}}</p>
  <p onclick='playVideo("{{videoId}}")' class='videoDescription'>{{videoDescription}}</p>
  <p class='live'>{{liveText}}</p>
</div>
<hr />
