<div>
  <div v-if='seen'>
    <div v-for="video in videoList">
      <div v-if='video.isVideo'>
        <div class='video'>
          <div class='videoOptions'>
            <i class="fas fa-ellipsis-v" onclick='showVideoOptions(this)'></i>
            <ul>
              <li onclick='showVideoOptions(this.parentNode.previousSibling);'>Open (New Window)</li>
              <li onclick='showVideoOptions(this.parentNode.previousSibling);'>Save Video</li>
              <a :href='video.youtubeUrl' onclick='showVideoOptions(this.parentNode.previousSibling);'>
                <li>Open in YouTube</li>
              </a>
              <a :href='video.hooktubeUrl' onclick='showVideoOptions(this.parentNode.previousSibling);'>
                <li>Open in HookTube</li>
              </a>
              {{video.deleteHtml}}
            </ul>
          </div>
          <div class='videoThumbnail'>
            <img v-on:click='play(video.id)' :src='video.thumbnail' />
            <p v-on:click='play(video.id)' class='videoDuration'>{{video.duration}}</p>
          </div>
          <p v-on:click='play(video.id)' class='videoTitle'>{{video.title}}</p>
          <p v-on:click='channel(video.channelId)' class='channelName'>{{video.channelName}} - {{video.publishedDate}}</p>
          <p v-on:click='play(video.id)' class='videoDescription'>{{video.description}}</p>
          <p v-on:click='play(video.id)' class='live'>{{video.liveText}}</p>
        </div>
        <hr />
      </div>
      <!-- Channel View -->
      <div v-else>
        <div class='video'>
          <div class='channelThumbnail'>
            <img v-on:click='channel(video.channelId)' :src='video.thumbnail' />
          </div>
          <p v-on:click='channel(video.channelId)' class='videoTitle'>{{video.channelName}}</p>
          <p v-on:click='channel(video.channelId)' class='channelName'>{{video.subscriberCount}} subscribers - {{video.videoCount}} videos</p>
          <p v-on:click='channel(video.channelId)' class='videoDescription'>{{video.channelDescription}}</p>
        </div>
        <hr />
      </div>
    </div>
    <div v-if='isSearch'>
      <div v-on:click='nextPage' id='getNextPage'>
        <i class="fas fa-search"></i> Fetch more results...
      </div>
    </div>
  </div>
</div>
