.floatingRefreshSection {
  position: fixed;
  inset-block-start: 60px;
  inset-inline-end: 0;
  box-sizing: border-box;
  inline-size: calc(100% - 80px);
  padding-block: 5px;
  padding-inline: 10px;
  box-shadow: 0 2px 1px 0 var(--primary-shadow-color);
  background-color: var(--card-bg-color);
  border-inline-start: 2px solid var(--primary-shadow-color);
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
  z-index: 3;
}

.floatingRefreshSection:has(.lastRefreshTimestamp + .refreshButton) {
  justify-content: space-between;
}

.floatingRefreshSection.sideNavOpen {
  inline-size: calc(100% - 200px);
}

.floatingRefreshSection.hideLabelsSideBar {
  inline-size: calc(100% - 60px);
}

.lastRefreshTimestamp {
  margin-block: 0;
  text-align: center;
  font-size: 16px;
}

@media only screen and (width <= 680px) {
  .floatingRefreshSection,
  .floatingRefreshSection.sideNavOpen,
  .floatingRefreshSection.hideLabelsSideBar {
    inline-size: 100%;
    border-inline-start: none;
  }
}
