.playListThumbnail
  width: 100%

.playlistThumbnail img
  width: 100%

  cursor: pointer

.playlistDescription
  max-height: 20vh
  overflow-y: auto

  @media only screen and (max-width: 500px)
    max-height: 10vh

.playlistChannel
  height: 70px

  /* Indicates the box can be clicked to navigate */
  cursor: pointer

.channelThumbnail
  width: 70px
  float: left
  border-radius: 200px 200px 200px 200px
  -webkit-border-radius: 200px 200px 200px 200px

.channelName
  float: left
  position: relative
  width: 200px
  margin-left: 10px
  top: 5px
  font-size: 15px
