.playListThumbnail {
  width: 100%;
}

.playlistThumbnail img {
  width: 100%;

  cursor: pointer;
}

.playlistChannel {
  height: 70px;

  /* Indicates the box can be clicked to navigate */
  cursor: pointer;
}

.playlistChannel img, .playlistChannel img:hover {
  width: 70px;
  float: left;
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
}

.playlistChannel h3 {
  float: left;
  position: relative;
  width: 200px;
  margin-left: 10px;
  top: 5px;
  font-size: 15px;
}
