.relative {
  position: relative;
}

.ftVideoPlayer {
  width:100%;
}

.blockedModal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  color: #ddd;
  background-color: #000;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.blockedModal.disabled {
  cursor: inherit;
}

.blockedModalText {
  font-size: xxx-large;
}

.blockedModalCountDown {
  text-align: center;
  font-size: large;
}

.fade-blocked-modal-leave-active {
  transition: opacity 0.15s;
}

.fade-blocked-modal-enter, .fade-blocked-modal-leave-to {
  opacity: 0;
}

@media only screen and (max-width: 680px) {
  .blockedModalText {
    font-size: xx-large;
  }
}
