.relative {
  position: relative;
}

.ftVideoPlayer {
  width:100%;
}

.blocked {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  color: #ddd;
  background-color: #000;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.blockedText {
  font-size: xxx-large;
}

.blockedCountDown {
  text-align: center;
  font-size: large;
}

.fade-blocked-leave-active {
  transition: opacity 0.15s;
}

.fade-blocked-enter, .fade-blocked-leave-to {
  opacity: 0;
}

@media only screen and (max-width: 680px) {
  .blockedText {
    font-size: xx-large;
  }
}
