.prompt {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: rgb(0 0 0 / 70%);

  /* Higher than components like playlist info */
  z-index: 201;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promptCard {
  overflow-y: scroll;
  max-block-size: 95%;
}

.promptCard.autosize {
  box-sizing: border-box;
  margin-block: 0;
  margin-inline: auto;
  max-inline-size: 95%;
}

.promptCard:not(.autosize) {
  inline-size: 95%;
  margin: 0;
  position: absolute;
  inset-inline-start: 2.5%;
  box-sizing: border-box;
}

.promptCard.flex-column {
  /* Some child(ren) will grow vertically */
  display: flex;
  flex-direction: column;
}

.promptCard.slim {
  max-inline-size: 70%;
  inset-inline-start: 15%;
  padding-block: 10px;
}

.promptCard.readable-width {
  max-inline-size: 50em;
  margin-inline: auto;
  inset-inline: 0;
  padding-inline: 0;
}

.center {
  text-align: center;
}

@media only screen and (width <= 680px) {
  .promptCard.slim {
    padding-block: 5px;
  }
}

@media only screen and (width <= 500px) {
  .promptCard.slim {
    max-inline-size: 80%;
    inset-inline-start: 10%;
  }
}
