.shareLinks {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  padding: 12px;
  width: max-content;

  .header {
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: bold;
    margin: 4px 0 8px;
  }

  .buttons {
    display: flex;
    flex-direction: column;

    .action {
      padding: 6px;
    }
  }

  .divider {
    background: var(--tertiary-text-color);
    grid-row: span 3;
    margin: 0 12px;
    width: 1px;
  }

  .youtubeLogo {
    height: 18px;
    width: auto;

    @at-root {
      .dark &,
      .system[data-system-theme*='dark'] & {
        filter: brightness(0.868);
      }

      .black & {
        filter: brightness(0.933);
      }

      /* no changes for the dracula theme */

      .light &,
      .system[data-system-theme*='light'] & {
        filter: invert(0.87);
      }
    }
  }

  .invidious {
    display: flex;
    justify-content: center;
    letter-spacing: -0.4px;

    .invidiousLogo {
      background-size: cover;
      display: inline-block;
      height: 20px;
      margin-right: 2px;
      width: 20px;

      @at-root {
        .dark &,
        .black &,
        .dracula &,
        .CatppuccinMocha &,
        .system[data-system-theme*='dark'] & {
          background-image: url(../../assets/img/invidious-logo-dark.svg);
        }

        .light &,
        .system[data-system-theme*='light'] & {
          background-image: url(../../assets/img/invidious-logo-light.svg);
        }
      }
    }
  }
}
