.videoDescription {
  overflow-y: auto;
  max-block-size: 300px;
}

.description {
  font-family: 'Roboto', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 17px;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.transcriptHeader {
  font-size: 1.6rem;
  line-height: 2rem;
  max-block-size: 2rem;
  font-weight: 500;
  color: var(--primary-text-color);
}

.transcriptSubtext {
  color: var(--secondary-text-color);
}
