.videoDescription {
  overflow-y: auto;
  max-height: 300px;
}

.description {
  font-family: 'Roboto', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 17px;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
