
.hotZone {
  --usable-zone-height: 50px;
  --zone-height: var(--usable-zone-height);

  position: fixed;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: var(--zone-height);
  z-index: 99;
}

.topZone {
  /* top nav height manually inspected to be 60px */
  --zone-height: calc(var(--usable-zone-height) + 60px);

  inset-block-start: 0;
}

.bottomZone {
  inset-block-start: calc(100% - var(--zone-height));
}

/* width <= 680px = list view = video item height 125px = cannot have drag zone too high */
@media only screen and (width >= 681px) and (height >= 768px) {
  .hotZone {
    --usable-zone-height: 100px;
  }
}

@media only screen and (width >= 681px) and (height >= 1080px) {
  .hotZone {
    --usable-zone-height: 120px;
  }
}

@media only screen and (width >= 681px) and (height >= 1440px) {
  .hotZone {
    --usable-zone-height: 150px;
  }
}
