.card {
  width: 85%;
  margin-block: 0 60px;
  margin-inline: auto;
}

.message {
  color: var(--tertiary-text-color);
}

.subscriptionTabs {
  width: 100%;
  margin-block-start: -3px;
  color: var(--tertiary-text-color);
  margin-bottom: 10px;
}

.selectedTab {
  border-bottom: 3px solid var(--primary-color);
  color: var(--primary-text-color);
  font-weight: bold;
  box-sizing: border-box;
  margin-bottom: -3px;
}

.tab {
  text-align: center;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  align-self: flex-end;
}

.tab:hover {
  font-weight: bold;
}

@media only screen and (max-width: 680px) {
  .card {
    width: 90%;
  }
}
