.sideNav {
  display: block;
  height: calc(100vh - 60px);
  width: 200px;
  overflow-x: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  margin-top: 60px;
  box-shadow: 1px -1px 1px -1px var(--primary-shadow-color);
  background-color: var(--side-nav-color);
  transition-property: width;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.inner {
  height: 100%;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.closed .inner {
  width: 80px;
}

.closed .hiddenLabels {
  width: 60px;
}

.closed.hiddenLabels {
  width: 60px;
}

.topNavOption {
  margin-top: 10px;
}

.navOption, .navChannel {
  position: relative;
  padding: 5px;
  cursor: pointer;
  min-height: 35px;
}

.moreOption {
  display: none;
}

.navOption:hover, .navChannel:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.navOption:active, .navChannel:active {
  background-color: var(--side-nav-active-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.navIcon {
  margin-left: 10px;
}

.navOption .navLabel {
  margin-left: 40px;
  overflow: hidden;
  margin-left: 40px;
  word-break: break-word;
}

.navChannel .navLabel {
  overflow: hidden;
  margin-left: 40px;
  word-break: break-word;
  font-size: 12px;
}

.thumbnailContainer {
  width: 35px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.channelThumbnail {
  border-radius: 50%;
  width: 35px;
}

.closed {
  width: 80px;
}

.sideNav hr {
  width: 90%;
  height: 1px;
  border: 0;
  background-color: var(--primary-color);
}

.refreshIcon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.closed .refreshIcon {
  display: none;
}

.closed .navOption {
  width: 100%;
  padding: 5px 0px;
}

.closed .navIcon {
  margin-left: 0px;
  width: 100%;
  display: block;
  margin-bottom: 0px;
}
.closed .navIconExpand{
  height:1.3em;
}

.closed .navLabel {
  margin-left: 0px;
  width: 100%;
  text-align: center;
  left: 0px;
  font-size: 11px;
  margin-block-end: 0em;
}

.closed .navChannel {
  width: 100%;
  height: 45px;
  padding: 5px 0px;
}

.closed .thumbnailContainer {
  position: static;
  display: block;
  float: none;
  margin: 0 auto;
  top: 0px;
  -ms-transform: none;
  transform: none;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

@media only screen and (max-width: 680px) {
  .inner {
    display: contents; /* sunglasses emoji */
  }

  hr, .mobileHidden, .refreshIcon {
    display: none;
  }

  .sideNav {
    display: flex;
  }

  .topNavOption {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .sideNav, .closed {
    margin-top: 0px;
    height: 60px;
    width: 100%;
    bottom: 0px;
    top: auto;
    overflow-y: hidden;
  }

  .navOption, .closed .navOption {
    width: 70px;
    height: 40px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navLabel {
    margin-left: 0px;
    width: 100%;
    text-align: center;
    left: 0px;
    font-size: 11px;
  }

  .moreOption {
    display: block;
  }
  .closed.hiddenLabels{
    width: 100%;
  }
}
