.sideNav {
  display: block;
  height: calc(100vh - 60px);
  width: 200px;
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 4;
  margin-top: 60px;
  box-shadow: 1px -1px 1px -1px var(--primary-shadow-color);
  background-color: var(--side-nav-color);
  transition-property: width;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.sideNav hr {
  background-color: var(--primary-color);
  border: 0;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}

.inner {
  height: 100%;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.navOption, .navChannel {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 60px;
}

.navOption:active, .navChannel:active,
.navOption:hover, .navChannel:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.navLabel {
  margin: 0;
  overflow: hidden;
  word-break: break-word;
}

.navChannel .navLabel {
  font-size: 12px;
}

.navIcon,
.thumbnailContainer {
  margin: 0;
}

.navIcon {
  width: 40px;
  font-size: 20px;
  margin-left: 5px;
}

.thumbnailContainer {
  height: 36px;
  margin-left: 5px;
  width: 40px;
}

.channelThumbnail {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 36px;
}

/* Closed nav bar styles */
.closed,
.closed .inner {
  width: 80px;
}

.closed.hiddenLabels,
.closed.hiddenLabels .inner {
  width: 50px;
}

.closed .navOption, .closed .navChannel {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closed .navIcon {
  margin-left: 0px;
  width: 100%;
  display: block;
  font-size: 16px;
  margin-bottom: 0px;
}

.closed .navIconExpand {
  font-size: 20px;
}

.closed .thumbnailContainer {
  width: 50px;
  margin: 0;
}

.closed .navLabel {
  font-size: 11px;
  margin: 0;
  text-align: center;
  width: 100%;
}

/* Make sure to repliacte style changes to side-nav-more-options.css */
@media only screen and (max-width: 680px) {
  .inner {
    display: contents; /* sunglasses emoji */
  }

  hr, .closed .mobileHidden, .mobileHidden, .refreshIcon {
    display: none;
  }

  .sideNav {
    bottom: 0;
    display: flex;
    height: 60px;
    margin-top: 0;
    padding-top: 0;
    top: auto;
    z-index: 4; /* Same z-index as top-nav */
    width: 100%;
  }

  .closed .navOption, .navOption {
    align-items: center;
    flex-direction: column;
    flex: 1 1 0%;
    height: 40px;
    justify-content: center;
    min-width: 70px;
    padding: 10px 0;
  }

  .closed .navIcon, .navIcon {
    margin-left: 0px;
    width: 100%;
    display: block;
    font-size: 16px;
    margin-bottom: 0px;
  }

  .closed .navIconExpand, .navIconExpand {
    font-size: 20px;
  }

  .navLabel {
    font-size: 11px;
    text-align: center;
    width: 100%;
  }

  .thumbnailContainer {
    margin: 0;
  }

  .moreOption {
    display: block;
  }

  .closed.hiddenLabels {
    width: 100%;
  }
}
