.sponsorBlockCategory {
  margin-top: 30px;
  padding-block: 0;
  padding-inline: 10px;

  @media only screen and (max-width: 680px) {
    width: 100%;
  }

  .sponsorTitle {
    font-size: x-large;
  }
}
