.card {
  inline-size: 85%;
  margin-block: 0 60px;
  margin-inline: auto;
}

.message {
  color: var(--tertiary-text-color);
}

.count {
  margin-block-start: 1rem;
}

.channels {
  inline-size: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 2.5rem;
  margin-block-start: 2rem;
}

.channel {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
  padding: 0.5rem;
}

.thumbnailContainer {
  flex-grow: 0;
  display: flex;
  align-items: center;
  color: inherit;
}

.channelThumbnail {
  block-size: 120px;
  border-radius: 50%;
}

.channelName {
  flex-grow: 1;
  color: inherit;
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  inline-size: 100%;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-block: 0;
  padding-inline: 4px;
}

.unsubscribeContainer {
  flex-grow: 0;
  display: flex;
  align-items: center;
}

.unsubscribeContainer .btn {
  block-size: 80%;
}

.headingIcon {
  color: var(--primary-color);
}

@media only screen and (width <= 680px) {
  .card {
    inline-size: 90%;
  }

  .channels {
    gap: 1.5rem;
  }

  .channelThumbnail {
    block-size: 80px;
  }
}
