@use "../../sass-partials/settings"

.channelBlockerSection
  margin-left: 1rem
  margin-right: 1rem

  #channel_blocker_search_input
    flex-grow: 1

  .channelBlockerSettingsBlockedList
    display: grid
    list-style: none
    padding-inline-start: 0
    max-height: 20rem
    overflow-y: scroll
    border: 2px solid var(--scrollbar-color-hover)
    border-radius: 5px
  
  .channelBlockerSettingsBlockedListItem
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    padding: 0.5rem
  
    &:hover
      backdrop-filter: invert(0.1)
  
  .channelBlockerSettingsBlockedListRemoveButton
    color: var(--primary-color)
    cursor: pointer
    padding: 0.2rem

    svg
      width: 1rem

  .channelBlockerSettingsBlockedListName
    margin-left: 0.25rem
  
    a:link
      color: var(--secondary-text-color)
