@use "../../sass-partials/settings"

.channelBlockerSettingsSearchFlexBox
  flex: 0 auto
  align-items: center
  column-gap: 1rem
  margin: auto 1rem

  :first-child
    margin-bottom: 10px

#cb-settings-search-input
  flex-grow: 1
