@use '../../scss-partials/_ft-list-item';

.thumbnailLink:hover {
  outline: 3px solid var(--side-nav-hover-color);
}

.thumbnailImage.thumbnailLoading {
  // Makes img element sized correctly before image loading starts
  aspect-ratio: 16 / 9;
}
