.select
  min-width: 240px
  width: auto

// https://vue-loader.vuejs.org/guide/scoped-css.html#deep-selectors
.select:deep(.select-text)
  min-width: 240px
  width: auto
  @media only screen and (max-width: 1000px)
    max-width: 240px
