.settingsSection {
  background-color: var(--card-bg-color);
  margin-block: 0;
  margin-inline: auto;
  inline-size: 85%;

  @media only screen and (max-width: 800px) {
    inline-size: 100%;
  }

  &[open] {
    padding-block-end: 15px;
  }

  > div {
    box-sizing: border-box;
    padding-block: 0;
    padding-inline: 20px;
    inline-size: 100%;
  }

  > div:not(:last-child, .ft-flex-box) {
    @media only screen and (max-width: 800px) {
      margin-block-end: 20px;
    }
  }
}

.sectionLine {
  background-color: var(--primary-color);
  border: 0;
  block-size: 2px;
  margin-block-start: -1px;
  inline-size: 100%;
}

.sectionHeader {
  cursor: pointer;
  display: block;
  padding: 1px;
}

.sectionTitle {
  -webkit-user-select: none;
  user-select: none;
  margin-inline-start: 2%;
}

.dataSettingsBox {
  justify-content: center;
}

:deep(.groupTitle) {
  text-align: center;
  margin-block: 0.5em;
}

:deep(.switchGrid) {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;

  @media only screen and (max-width: 680px) {
    grid-template-columns: auto;
  }
}

:deep(.switchColumnGrid) {
  @extend :deep(.switchGrid);

  align-items: start;
}

:deep(.switchColumn) {
  display: flex;
  flex-direction: column;
  align-items: start;
}

:deep(.center) {
  text-align: center;
}

@media only screen and (max-width: 460px) {
  :deep(.settingsFlexStart460px) {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 500px) {
  :deep(.settingsFlexStart500px) {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 680px) {
  .settingsSection {
    > div {
      :deep(.text.bottom) {
        inset-inline-start: -85px;
      }
    }

    :deep(.switch-ctn.containsTooltip) {
      inset-inline-start: -10px;
      margin-inline-end: 5px;
      padding-block: 0;
      padding-inline: 10px;
    }

    :not(.select, .selectLabel) {
      > :deep(.tooltip) {
        display: inline-block;
        position: absolute;
        inset-inline-end: -25px;
        inset-block-start: 12px;
      }
    }

    .settingsFlexStart460px :deep(.tooltip) {
      inset-inline-end: 0;
      inset-block-start: -2px;
    }

    :deep(.switch-ctn) {
      margin-block: 10px;
      margin-inline: 7px;
    }
  }
}
