.ft-input-component {
  position: relative;
}

.ft-input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    width: 100%;
    padding: 1rem;
    border: none;
    background: transparent;
    margin-bottom: 10px;
    font-size: 16px;
    height: 45px;
    color: var(--secondary-text-color);
    border-radius: 5px;
    background-color: var(--search-bar-color);
}

.ft-input-component ::-webkit-input-placeholder {
  color: var(--tertiary-text-color);
}

.forceTextColor .ft-input {
  color: #EEEEEE;
  background-color: var(--primary-input-color);
}

.forceTextColor .ft-input:focus {
  box-shadow: 0 0 1rem 0 var(--primary-input-color);
  -moz-transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}

.forceTextColor ::-webkit-input-placeholder {
  color: #EEEEEE;
}

.inputAction {
  position: absolute;
  padding: 10px;
  top: 5px;
  right: 0px;
  cursor: pointer;
  border-radius: 200px 200px 200px 200px;
  color: var(--primary-text-color);
}

.search ::-webkit-calendar-picker-indicator {
  display: none;
}

.search .inputAction {
  top: 12px;
}

.forceTextColor .inputAction {
  color: #EEEEEE;
}

.inputAction:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.forceTextColor .inputAction:hover {
  background-color: var(--primary-color-hover);
}

.inputAction:active {
  background-color: var(--tertiary-text-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.forceTextColor .inputAction:active {
  background-color: var(--primary-color-active);
}

.list {
  position: absolute;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  z-index: 10;
  border-radius: 0 0 5px 5px;
  border: 1px #ccc solid;
  background-color: white;
  color: black;
}

.list li {
  display: block;
  padding: 0px 15px;
  line-height: 2rem;
}

.hover {
  background-color: #ccc;
/*   color: white; */
}
