.subscribeButton
  margin: 6px 0 6px 6px
  padding: 6px
  font-size: 14px
  height: 100%
  min-width: 146px

.subIconButton
  left: -4px
  margin-left: 0
  padding: 6px
  font-size: 14px
  min-width: 35px
  display: inline-block
  &.plusButton
    margin-right: 0
  &.minusButton
    left: -8px

#profileList
  top: -5px
  left: 6px
  display: flex
  align-content: flex-start
  justify-content: flex-start
  flex-flow: row wrap
  position: relative
  width: 205px
  min-height: 40px
  max-height: 80px
  padding: 5px
  background-color: var(--card-bg-color)
  border: solid 1px var(--primary-color)
  overflow-y: auto
  z-index: 1

.profile
  cursor: pointer
  height: 29px
  width: 29px
  padding: 5px

.colorOption
  width: 29px
  height: 29px
  cursor: pointer
  border-radius: 50%
  -webkit-border-radius: 50%

.initial
  font-size: 1em
  line-height: 1em
  text-align: center
  padding: 0.5em
