.buttonList {
  margin: 5px;
  margin-block-end: 10px;
  border-radius: 4px;
  block-size: fit-content;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
  display: flex;
  flex-wrap: nowrap;
  /* addresses odd clipping behavior when adjusting window size*/
  background-color: var(--primary-color);
}

/* Ensures style here overrides style of .btn */
.subscribeButton.btn {
  min-inline-size: 150px;
  white-space: initial;
}

.subscribeButton.btn, .profileDropdownToggle.btn {
  align-self: center;
  margin-block: 0;
  margin-inline: 0;
}

.hasProfileDropdownToggle > .subscribeButton.btn {
  min-inline-size: 100px;
  padding-inline: 5px;
  border-inline-end: 2px solid var(--primary-color-active) !important;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  box-sizing: content-box;
}

.hasProfileDropdownToggle > .subscribeButton.btn, .profileDropdownToggle.btn {
  padding-block: 5px;
  padding-inline: 6px;
  box-shadow: none;
  flex: auto;
  block-size: 2em;
}

.profileDropdownToggle.btn {
  border-inline-start: none !important;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  display: inline-block;
  min-inline-size: 1em;
  padding-inline: 10px;
  box-sizing: content-box;
}
