h2 {
  text-align: center;
}

h3 {
  margin-block: 0 10px;
  text-align: center;
}

.message {
  color: var(--tertiary-text-color);
}

.profileName,
.colorSelection {
  margin: auto;
  inline-size: 350px;
}

.profileEdit {
  flex-direction: column;
  column-gap: 10px;
}

.profileEdit > * {
  flex: 1;
}

.colorOptions {
  margin-inline: auto;
  justify-content: center;
  min-inline-size: 250px;
}

.customColorSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-block-start: 5px;
}

.colorOption {
  inline-size: 40px;
  block-size: 40px;
  margin: 2px;
  cursor: pointer;
  border-radius: 50%;
}

.initial {
  font-size: 37.5px;
  text-align: center;
  user-select: none;
}

.colorOption:has(.initial) {
  inline-size: 75px;
  block-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.profilePreviewSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.secondEditRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card {
  inline-size: 85%;
  margin-block: 0 60px;
  margin-inline: auto;
}

@media only screen and (width <= 680px) {
  .card {
    inline-size: 90%;
  }
}
