/*
    This file is part of FreeTube.
    FreeTube is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    FreeTube is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with FreeTube.  If not, see <http://www.gnu.org/licenses/>.
*/

.heading {
  text-align: center;
}

.selected-count {
  text-align: center;
}

// Style for `ft-prompt`
:deep(.promptCard) {
  // Currently only this prompt has enough content to make prompt too high
  max-height: 95%;

  // Some child(s) will grow vertically
  display: flex;
  flex-direction: column;
}

.sortSelect {
  /* Put it on the right */
  margin-left: auto;
}

.playlists-container {
  box-shadow: inset 0 0 5px rgba(0,0,0,.5);

  // Use remaining height
  flex-grow: 1;

  overflow-y: scroll;
}
