.heading {
  text-align: center;
}

.selected-count {
  text-align: center;
}

/* Style for `ft-prompt` */
:deep(.promptCard) {
  /* Currently only this prompt has enough content to make prompt too high */
  max-block-size: 95%;

  /* Some child(s) will grow vertically */
  display: flex;
  flex-direction: column;
}

.sortSelect {
  /* Put it on the right */
  margin-inline-start: auto;
}

.playlists-container {
  box-shadow: inset 0 0 5px rgba(0,0,0,.5);

  /* Use remaining height */
  flex-grow: 1;

  overflow-y: scroll;
}

.playlist-selector-container {
  /* Make them look selectable */
  cursor: pointer;
}
