.selected-count {
  text-align: center;
}

.searchInputsRow {
  display: grid;

  /* 2 columns */
  grid-template-columns: 1fr auto;
  column-gap: 16px;
}

@media only screen and (width <= 800px) {
  .searchInputsRow {
    /* Switch to 2 rows from 2 columns */
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

.optionsRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
}

.tightOptions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  column-gap: 16px;
  align-items: center;
}

@media only screen and (width <= 800px) {
  .optionsRow {
    /* Switch to rows from columns */
    grid-template-columns: auto;
    align-items: stretch;
  }

  .tightOptions {
    /* Switch to rows from columns */
    grid-template-columns: auto;
    align-items: stretch;
  }
}

.sortSelect {
  /* Put it on the right */
  margin-inline-start: auto;
}

.playlists-container {
  box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);

  /* Use remaining height */
  flex-grow: 1;
  overflow-y: scroll;
}

.playlist-selector-container:not(.disabled) {
  /* Make them look selectable */
  cursor: pointer;
}

.playlist-selector-container.disabled {
  opacity: 0.5;
}
