.screenshotFolderContainer
  width: 95%
  margin: 0 auto
  align-items: center
  column-gap: 1rem

  .screenshotFolderLabel, .screenshotFolderButton, .screenshotFilenamePatternTitle
    flex-grow: 0

  .screenshotFolderPath, .screenshotFilenamePatternInput, .screenshotFilenamePatternExample
    flex-grow: 1
    margin-top: 10px
