.screenshotFolderContainer {
  align-items: center;
  column-gap: 1rem;
  margin-block: 0;
  margin-inline: auto;
  inline-size: 95%;
}

.screenshotFolderLabel,
.screenshotFolderButton,
.screenshotFilenamePatternTitle {
  flex-grow: 0;
}

.screenshotFolderPath,
.screenshotFilenamePatternInput,
.screenshotFilenamePatternExample {
  flex-grow: 1;
  margin-block-start: 10px;
}
