.toast-holder {
  position: fixed;
  left: 50vw;
  transform: translate(-50%, 0);
  bottom: 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.toast {
  padding: 10px;
  margin: 5px;
  text-align: center;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  border-radius: 20px;
  cursor: pointer;
}

.message {
  margin: auto;
}

.open {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.closed {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
