.sideNavMoreOptions {
  display: none;
}

.navOption {
  position: relative;
  padding: 5px;
  cursor: pointer;
}

.navOption:active,
.navOption:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.moreOptionContainer {
  position: fixed;
  background-color: var(--side-nav-color);
  bottom: 60px;
  width: 70px;
  z-index: 0;
  -webkit-box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 680px) {
  .sideNavMoreOptions {
    display: block;
  }

  .navOption, .closed .navOption {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40px;
    gap: 10px;
    justify-content: center;
    padding: 10px 0px;
    width: 70px;
  }

  .navLabel {
    margin: 0;
    width: 100%;
    text-align: center;
    left: 0px;
    font-size: 11px;
  }

  .navIcon {
    margin-left: 0px;
    width: 100%;
    display: block;
    font-size: 16px;
    margin-bottom: 0px;
  }

  .moreOption {
    display: block;
  }

  .navIconExpand, .closed .navIconExpand {
    font-size: 20px;
  }
}
