.card {
  position: relative;
  width: 85%;
  margin: 0 auto 20px;
  box-sizing: border-box;
}

.channelDetails {
  padding: 0;
  max-width: 92vw;
}

.channelBannerContainer {
  background: center / cover no-repeat var(--banner-url, transparent);
  height: 13vw;
  min-height: 110px;
  max-height: 32vh;
  width: 100%;
}

.channelBannerContainer.default {
  background-color: black;
  background-image: url("../../assets/img/defaultBanner.png");
  background-repeat: repeat;
  background-size: contain;
}

.channelInfoContainer {
  position: relative;
  background-color: var(--card-bg-color);
  margin-top: 10px;
  padding: 0 16px;
}

.channelInfo {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}

.channelInfoHasError {
  padding-bottom: 10px;
}

.channelThumbnail {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  object-fit: cover;
}

.channelName {
  font-weight: bold;
  width: 100%;
  font-size: 25px;
}

.channelSubCount {
  color: var(--tertiary-text-color);
  top: 50px;
  left: 120px;
}

.channelInfoActionsContainer {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.shareIcon {
  align-self: center;
}

.channelSearch {
  width: 220px;
  margin-inline-start: auto;
  align-self: flex-end;
  flex: 1 1 0%;
}

.sortSelect {
  margin-inline-start: auto;
}

.channelInfoTabs {
  position: relative;
  width: 100%;
  height: auto;
  justify-content: unset;
  gap: 32px;
  padding: .3em 0;
}

.tabs {
  display: flex;
  flex: 0 1 33%;
}

.tab {
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  flex: 1 1 0%;
  align-self: flex-end;
  text-align: center;
  color: var(--tertiary-text-color);
  border-bottom: 3px solid transparent;
}

.tab:hover,
.tab:focus {
  font-weight: bold;
  border-bottom: 3px solid var(--tertiary-text-color);
}

.selectedTab {
  color: var(--primary-text-color);
  border-bottom: 3px solid var(--primary-color);
  font-weight: bold;
  box-sizing: border-box;
}

.channelSearch {
  margin-top: 10px;
  max-width: 250px;
}

.elementListLoading {
  margin-top: 200px;
}

.message {
  color: var(--tertiary-text-color);
}

.getNextPage {
  background-color: var(--search-bar-color);
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  margin-top: 16px;
}

.thumbnailContainer {
  display: flex
}

.channelLineContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline-start: 1em;
}

.channelLineContainer h1,
.channelLineContainer p {
  margin: 0;
}

.communityThumbnail {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-border-radius: 200px;
  border-radius: 200px;
  height: 12%;
  width: 12%;
}

.ft-community-image {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.community-post-container {
  padding-inline-start: 30%;
  padding-inline-end: 30%;
}

@media only screen and (max-width: 800px) {
  .channelInfoTabs {
    height: auto;
    flex-flow: column-reverse;
  }

  .channelSearch {
    width: 100%;
    max-width: none;
  }

  .tabs {
    overflow-x: scroll;
  }
  #communityPanel {
    margin-top: 1rem;
  }
}
