.card {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.message {
  color: var(--tertiary-text-color);
}

.profileName {
  width: 400px;
}

.bottomMargin {
  margin-bottom: 30px;
}

.colorOptions {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.colorOption {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.initial {
  font-size: 50px;
  line-height: 1em;
  text-align: center;
  padding: 25px 0;
}

@media only screen and (max-width: 680px) {
  .card {
    width: 90%;
  }
}

.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  min-height: 200px; /* minimum height */
  position: relative;
  cursor: pointer;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}

.default-upload {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}