.card {
  inline-size: 85%;
  margin-block: 0 15px;
  margin-inline: auto;
}

.message {
  color: var(--tertiary-text-color);
}

.profileName {
  inline-size: 400px;
}

.bottomMargin {
  margin-block-end: 30px;
}

.colorOptions {
  max-inline-size: 1000px;
  margin-block: 0 30px;
  margin-inline: auto;
}

.colorOption {
  inline-size: 100px;
  block-size: 100px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.initial {
  font-size: 50px;
  line-height: 1em;
  text-align: center;
  padding-block: 25px;
  padding-inline: 0px;
  user-select: none;
  -webkit-user-select: none;
}

@media only screen and (max-width: 680px) {
  .card {
    inline-size: 90%;
  }
}
