.card {
  inline-size: 85%;
  margin-block: 0 15px;
  margin-inline: auto;
}

h2 {
  text-align: center;
}

h3 {
  margin-block: 10px;
  text-align: center;
}

.message {
  color: var(--tertiary-text-color);
}

.profileName {
  max-inline-size: 400px;
  margin: auto;
}

.profileEdit {
  flex-direction: row;
  gap: 10px;
}

.profileEdit > * {
  flex: 1;
}

.colorOptions {
  margin-inline: auto;
  justify-content: flex-start;
  min-inline-size: 300px;
}

.customColorSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-block-start: 5px;
}

.colorOption {
  inline-size: 40px;
  block-size: 40px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.initial {
  font-size: 37.5px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}

.colorOption:has(.initial) {
  inline-size: 75px;
  block-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.profilePreviewSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media only screen and (max-width: 680px) {
  .card {
    inline-size: 90%;
  }
}
