.dropDown {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin: 0 5px;
}

.dropDown ul {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 100;
}

.dropDown ul li {
    width: 100%;
    float: none;
    box-sizing: border-box;
}

.dropDown:hover ul {
    display: block;
}

.dropDown ul li a {
    text-decoration: none;
    color: inherit;
}

.buttonTitle {
  height: 30px;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  color: var(--tertiary-text-color);
  background-color: var(--secondary-card-bg-color);
}

.buttonOption {
  float: right;
  width: 100%;
  height: 30px;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--side-nav-color);
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.buttonOption:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
