.ft-auto-grid
  &.grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(262px, 1fr) )
    justify-content: space-evenly
    grid-gap: 8px

  &.list
    display: grid
    grid-gap: 4px
