.ft-auto-grid {
  &.grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
    justify-content: space-evenly;
  }

  &.list {
    display: grid;
    grid-gap: 4px;
  }

  &.card {
    position: relative;
    width: 85%;
    margin-block: 0 20px;
    margin-inline: auto;
    box-sizing: border-box;

    .ft-card {
      margin-inline: 0;
      margin-block: 0 16px;
      max-width: 850px;
      padding-block-end: 6px;
    }
  }
}
