.ft-auto-grid {
  &.grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
    justify-content: space-evenly;
  }

  &.list {
    display: grid;
    grid-gap: 4px;
  }
}
