.settingsMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 22px;
  inline-size: 250px;
  padding-inline-start: 10px;
}

.header {
  font-size: 26px;
}

.settingsMenuTitle {
  text-decoration: none;
  color: var(--tertiary-text-color);
  overflow-x: hidden;
  inline-size: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.settingsMenuTitle:hover {
  color: var(--primary-text-color);
}

.settingsMenuTitleContent {
  inline-size: fit-content;
}

.settingsMenuTitleAndIcon {
  /* needed to have underline poke out */
  margin-inline-start: 3px;
}

.settingsMenuTitleUnderline {
  /* have underline poke out */
  inline-size: calc(100% + 3px);

  /* prevent "active" border from visibly pushing the content up */
  border-block-end: 3px solid transparent;
}

.settingsMenuTitle.active {
  color: var(--primary-text-color);
}

.settingsMenuTitle.active .settingsMenuTitleUnderline {
  border-block-end: 3px solid var(--primary-color);
}

.settingsMenuTitleIcon {
  inline-size: 22px;
  block-size: 22px;
}

@media only screen and (width <= 800px) {
  .settingsMenu {
    text-align: center;
  }
}
