.settingsMenu {
  position: sticky;
  inset-block-start: 120px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 22px;
  padding-inline-start: 0;
  block-size: fit-content;
}

.header {
  font-size: 26px;
}

.title {
  text-decoration: none;
  color: var(--tertiary-text-color);
  inline-size: 220px;
}

/* prevent hover styling from showing on title click for mobile */
@media (hover: hover) {
  .title:hover {
    color: var(--primary-text-color);
  }
}

.titleContent {
  inline-size: fit-content;
  max-inline-size: 100%;
}


.iconAndTitleText {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  /* needed to have underline poke out */
  margin-inline-start: 3px;
}

.titleUnderline {
  /* have underline poke out */
  inline-size: calc(100% + 3px);

  /* prevent "active" border from visibly pushing the content up */
  border-block-end: 4px solid transparent;
}

.title.active {
  color: var(--primary-text-color);
  font-weight: 600;
}

.title.active .titleUnderline {
  border-block-end: 4px solid var(--primary-color);
}

.titleIcon {
  inline-size: 22px;
  block-size: 22px;
}

@media only screen and (width <= 950px) {
  .settingsMenu {
    display: none;
  }

  /*
  TODO: integrate settings menu into mobile view

  .header {
    display: none;
  }
  .settingsMenu {
    position: fixed;
    flex-direction: row;
    gap: 5px;
    overflow-x: scroll;
  }

  .title {
    inline-size: 100%;
  } */
}
