@use "../../sass-partials/_ft-list-item"
.circle
  height: 10px
  width: 10px
  background-color: transparent
  border-radius: 50%
  border-style: solid
  border-width: 2px
  /*outline: #E0E0E0 solid*/
  display: inline-block
  float: left
  top: 8px
  position: relative
  left: 5px

.poll-text
  border-radius: 5px
  border-style: solid
  border-width: 2px
  padding: 5px 25px 5px

.poll-option
  padding-bottom: 10px

.outside
