/* stylelint-disable property-no-vendor-prefix */
@use '../../scss-partials/_ft-list-item';

.ft-list-post.list {
  margin-inline: 0 auto;
  flex-direction: row;
  min-block-size: 0;
  gap: 6px;
}

.communityImage {
  block-size: 100%;
  inline-size: 100%;
  margin-block-start: 6px;
}

.communityThumbnail {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  block-size: 55px;
  margin-block-start: 1em;
  margin-inline-end: 5px;
  inline-size: 55px;
}

.author-div {
  display: flex;
  .authorName {
    font-size: 15px;
    font-weight: bold;
    margin-block-end: 6px;
    margin-inline: 0 6px;
    .authorNameLink {
      color: inherit;
      text-decoration: none;
    }
  }

  .publishedText {
    font-size: 15px;
    margin-inline: 5px 6px;
    margin-block-end: 6px;
  }
}

.postText {
  margin-block: 6px;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.bottomSection {
  color: var(--tertiary-text-color);
  display: block;
  flex-direction: column;
  font-size: 15px;
  margin-block: 8px 6px;
  max-inline-size: 210px;
  text-align: start;

  @media screen and (max-width: 680px) {
    margin-inline-start: 0;
    text-align: start;
  }

  .likeBar {
    border-radius: 4px;
    block-size: 8px;
    margin-block-end: 4px;
  }

  .likeCount {
    margin-inline-start: 5px;
    margin-inline-end: 6px;
  }
}

.playlistWrapper {
  display: flex;

  .videoThumbnail {
    display: flex;
    margin-block-end: auto;
    margin-block-start: auto;
    position: relative;
    inline-size: fit-content;

    .thumbnailImage {
      display: block;
      block-size: auto;
      max-inline-size: 100%;
      inline-size: auto;
    }
  }

  .playlistText {
    margin-inline-start: 10px;
    inline-size: 50%;
    word-wrap: break-word;

    .playlistAuthor {
      font-size: small;

      .playlistVideoCount {
        font-size: smaller;
      }
    }

    .playlistTitle {
      color: var(--primary-text-color);
    }

    .playlistPreviewVideos {
      color: var(--primary-text-color);
      display: flex;
      font-size: small;
      padding-block-start: 10px;
      text-decoration-line: none;
      inline-size: 100%;
    }

    .playlistPreviewVideoTitle {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      inline-size: 100%;
    }
  }
}
