/* stylelint-disable property-no-vendor-prefix */
@use '../../scss-partials/_ft-list-item';

.outside {
  margin: auto;
  width: 40%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.ft-list-post {
  box-sizing: border-box;
}

.communityImage {
  height: 100%;
  width: 100%;
}

.communityThumbnail {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 55px;
  margin-inline-end: 5px;
  width: 55px;
}

.author-div {
  display: flex;

  .authorName {
    font-size: 15px;
    font-weight: bold;
    margin-block: 5px 0;
    margin-inline: 5px 6px;
    .authorNameLink {
      color: inherit;
      text-decoration: none;
    }
  }

  .publishedText {
    font-size: 15px;
    margin-block: 5px 0;
    margin-inline: 5px 6px;
  }
}

.postText {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.bottomSection {
  color: var(--tertiary-text-color);
  display: block;
  flex-direction: column;
  font-size: 15px;
  margin-block-start: 4px;
  max-width: 210px;
  text-align: start;

  @media screen and (max-width: 680px) {
    margin-inline-start: 0;
    text-align: start;
  }

  .likeBar {
    border-radius: 4px;
    height: 8px;
    margin-block-end: 4px;
  }

  .likeCount {
    margin-inline-start: 5px;
    margin-inline-end: 6px;
  }
}

.playlistWrapper {
  display: flex;

  .videoThumbnail {
    display: flex;
    margin-block-end: auto;
    margin-block-start: auto;
    position: relative;
    width: fit-content;

    .thumbnailImage {
      display: block;
      height: auto;
      max-width: 100%;
      width: auto;
    }
  }

  .playlistText {
    margin-inline-start: 10px;
    width: 50%;
    word-wrap: break-word;

    .playlistAuthor {
      font-size: small;

      .playlistVideoCount {
        font-size: smaller;
      }
    }

    .playlistTitle {
      color: var(--primary-text-color);
    }

    .playlistPreviewVideos {
      color: var(--primary-text-color);
      display: flex;
      font-size: small;
      padding-block-start: 10px;
      text-decoration-line: none;
      width: 100%;
    }

    .playlistPreviewVideoTitle {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
}

.ft-list-item.grid {
  min-height: 0 !important;
  padding-block-end: 20px;
}
