.card {
  inline-size: 85%;
  margin-block: 0 60px;
  margin-inline: auto;
}

.message {
  color: var(--tertiary-text-color);
}

.headingIcon {
  color: var(--primary-color);
}

@media only screen and (width <= 680px) {
  .card {
    inline-size: 90%;
  }
}

.optionsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sort-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  right: 0;
  top: 35px;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-menu button {
  width: 100%;
  padding: 10px;
  border: none;
  background: white;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-menu button:hover {
  background: #f0f0f0;
}
