.ft-age-restricted
  color: var(--primary-text-color)
  h2
    width: 100%
    text-align: center
    background-color: var(--card-bg-color)
    padding: 10px 0
  .frown
    width: 100%
    text-align: center
    background-color: var(--card-bg-color)
    font-size: 10em
    padding: 20px 0
    height: 100%
