.ft-age-restricted {
  color: var(--primary-text-color);

  h2 {
    background-color: var(--card-bg-color);
    padding-block: 10px;
    padding-inline: 0;
    text-align: center;
    width: 100%;
  }

  .frown {
    background-color: var(--card-bg-color);
    font-size: 10em;
    height: 100%;
    padding-block: 20px;
    padding-inline: 0;
    text-align: center;
    width: 100%;
  }
}
