.card {
  width: 85%;
  margin-block: 0 60px;
  margin-inline: auto;
}

.message {
  color: var(--tertiary-text-color);
}

.floatingTopButton {
  position: fixed;
  inset-block-start: 70px;
  inset-inline-end: 10px;
}

@media only screen and (max-width: 350px) {
  .floatingTopButton {
    position: absolute
  }
}

@media only screen and (max-width: 680px) {
  .card {
    width: 90%;
  }
}
