/*
    This file is part of FreeTube.

    FreeTube is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    FreeTube is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with FreeTube.  If not, see <http://www.gnu.org/licenses/>.
*/

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #BDBDBD;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: white;
}

body {
    background-color: #e0e0e0;
}

.sk-cube-grid .sk-cube {
    background-color: #f44336;
}

.select-text {
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}

.select-text:focus {
  border-bottom: 1px solid rgba(0,0,0, 0);
}

.select:after {
  border-top: 6px solid rgba(0, 0, 0, 0.12);
}

.select-label {
  color: rgba(0,0,0, 0.26);
}

.searchBar ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.75);
}

.topNav {
    background-color: #f44336;
    -webkit-box-shadow: 0px -4px 32px 0px rgba(0, 0, 0, 0.75);
}

.searchBar input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.searchButton {
    color: black;
}

.filterButton {
    color: black;
}

#searchFilter {
  background-color: white;
}

.jumpToInput {
    border-bottom: 1px solid #757575;
}

.card {
  background-color: #ffffff;
}

.message {
    color: #757575;
}

.videoDelete {
    color: black;
}

.channelViewContainer {
  background-color: white;
}

.channelViewImage {
    border: 0px solid #000000;
}

.channelViewSubs {
    color: #757575;
}

.channelSubButton {
    color: #616161;
    background-color: #eeeeee;
}

.channelTabOption:hover {
    background-color: #eeeeee;
}

.videoTitle {
    color: #000000;
}

.channelName {
    color: #424242;
}

.videoDescription {
    color: #424242;
}

.statistics {
    background-color: white;
}

.views {
    color: #424242;
}

.details {
    background-color: white;
}

.playerSubButton {
    color: #616161;
    background-color: #eeeeee;
}

.smallButton {
    color: #616161;
    background-color: #eeeeee;
}

.recommendDate {
    color: #616161;
}

.qualityTypes {
    background-color: #eeeeee;
}

.speedTypes {
    background-color: #eeeeee;
}

.shareTypes {
    background-color: #eeeeee;
}

.unsaved {
    color: #616161;
}

.double-bounce1,
.double-bounce2 {
    background-color: #f44336;
}

.videoOptions ul {
    background-color: #f5f5f5;
}

.videoOptions li:hover {
    background-color: #e0e0e0;
}

.videoOptions a {
    color: black;
}

.profile:hover {
    background-color: #e0e0e0;
}

.profileEditSelected {
    background-color: #424242;
}

.profileSelectSettings {
    background-color: #9E9E9E;
}

.profileEditPadding:hover {
    background-color: #e0e0e0;
}

#subscriptions img {
    border: 0px solid #000000;
}

#sideNav {
    background-color: white;
    -webkit-box-shadow: 4px -2px 51px -6px rgba(0, 0, 0, 0.75);
}

#sideNav hr {
    background-color: #f44336;
}

#sideNav li:hover {
    background-color: #e0e0e0;
}

#backButton {
  color: #000000;
}

#channelIcon {
    border: 0px solid #000000;
}

#showComments {
    background-color: #eeeeee;
}

#toast {
    background-color: #212121;
    color: #f5f5f5;
}

#confirmFunction {
    background-color: #f5f5f5;
}

#getNextPage {
    background-color: #f5f5f5;
}

#comments {
    background: #eee;
}

#miniPL {
  background-color: white;
}

#profileSelect {
    background-color: white;
}

#profileSelectHeader span:hover {
    background-color: #e0e0e0;
}
