/*
    This file is part of FreeTube.

    FreeTube is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    FreeTube is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with FreeTube.  If not, see <http://www.gnu.org/licenses/>.
*/

@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

body {
    font-family: 'Roboto', sans-serif;
}

input[type=text] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    width: 100%;
    padding: 7px;
    border: none;
    background: transparent;
    margin-bottom: 10px;
    font: 16px;
    height: 45px;
}

a {
    color: #2196F3;
}

.link {
    color: #2196F3;
    cursor: pointer;
    font-weight: bold;
    font-decoration-line: 'underline';
}

#progressBar {
    height: 3px;
    background-color: #f44336;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.topNav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.topNav span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#menuButton {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    position: relative;
    bottom: 10px;
}

#reloadButton {
    cursor: pointer;
    font-size: 15px;
    margin-left: 65px;
}

#backButton {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    position: relative;
    bottom: 10px;
}

#menuIcon {
    width: 25px;
    position: relative;
    left: 20px;
    bottom: 5px;
}

#menuText {
    width: 100px;
    position: relative;
    top: 7px;
    left: 15px;
}

#currentProfile {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

#currentInitial {
    font-size: 22px;
    text-align: center;
    position: relative;
    left: 13px;
    bottom: 10px;
}

#profileSelect {
    width: 275px;
    position: absolute;
    right: 30px;
    top: 50px;
    -webkit-box-shadow: -15px 25px 50px -30px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -15px 25px 50px -30px rgba(0, 0, 0, 0.75);
    box-shadow: -15px 25px 50px -30px rgba(0, 0, 0, 0.75);
}

#profileSelectHeader {
    height: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 55px;
    padding-left: 10px;
}

#profileSelectHeader span {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}

#profileSelectHeader span:hover {
    -moz-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
}

#profileSelectHeader i {
    font-size: 15px;
    position: relative;
    left: 11px;
    top: 8px;
}

#profileSelectList {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}

.profile {
    width: 265px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}

.profile:hover {
    -moz-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
}

.profileBackground {
    display: inline-block;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

.profileEditSelected {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    margin-left: -50px;
    opacity: 0.8;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

.profileEditSelected i {
    font-size: 22px;
    position: relative;
    top: 16px;
}

.profileInitial {
    font-size: 15px;
    display: inline-block;
    position: relative;
    left: 10px;
    bottom: 16px;
}

.profileName {
    display: inline-block;
    position: relative;
    bottom: 30px;
    left: 10px;
}

.profileSelectSettings {
    margin: 0 auto;
    line-height: 55px;
}

.profileSelectSettings i {
    position: relative;
    left: 15px;
    bottom: 2px;
}

.colorPicker {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

.colorPicker span {
    position: relative;
    top: 15px;
}

.colorPickerPadding {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 10px;
}

.profileEdit {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

.profileEditInitial {
    font-size: 25px;
    position: relative;
    top: 11px;
}

.profileEditName {
    font-size: 13px;
    height: 60px;
    overflow: hidden;
}

.profileEditPadding {
    display: inline-block;
    width: 100px;
    height: 115px;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}

.profileEditPadding:hover {
    -moz-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
}

.searchBar {
    position: absolute;
    right: -75px;
    top: 0;
    width: 750px;
}

.searchBar input {
    width: 75%;
    color: black;
}

#searchFilter {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 4px -2px 51px -6px rgba(0, 0, 0, 0.75);
}

.searchButton {
    text-decoration: none;
    cursor: pointer;
}

.filterButton {
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

.filter {
    width: 180px;
    height: 295px;
    padding: 10px;
    border-right: 1px solid #f44336;
    display: inline-block;
    text-align: left;
}

#sideNav {
    height: 100vh;
    width: 250px;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0px;
    -webkit-box-shadow: 4px -2px 51px -6px rgba(0, 0, 0, 0.75);
}

#sideNav hr {
    width: 95%;
    height: 1px;
    border: 0;
}

#sideNav ul {
    list-style-type: none;
}

#sideNav li {
    padding: 20px;
    width: 205px;
    position: relative;
    right: 50px;
    cursor: pointer;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}

#sideNav li:hover {
    -moz-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
}

#sideNavDisabled {
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0px;
    z-index: 1;
    margin-top: 85px;
    display: none;
}

.sideNavContainer {
    margin-top: 85px;
}

#subscriptions img {
    float: left;
    width: 40px;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    position: relative;
    top: -12px;
    margin-right: 5px;
}

#subscriptions .fa-times {
    float: right;
    margin-right: 5px;
}

#subscriptions li {
    font-size: 11px;
}

.message {
    text-align: center;
}

.videoDelete {
    float: right;
    cursor: pointer;
}

#loading {
    width: 75%;
    height: 20%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 5;
    bottom: 0;
    right: 0;
}

.settingsInput {
    width: 50%;
    border-bottom: 1px solid #616161;
}

.settingsSlider {
    padding: 30px;
}

#confirmSettings {
    position: fixed;
    margin-left: 250px;
    margin-right: auto;
    left: 4%;
    right: 4%;
    bottom: 20px;
    height: 50px;
    background-color: #212121;
    color: #f5f5f5;
    padding: 10px;
    opacity: 0;
    z-index: 1;
    -webkit-box-shadow: 4px -2px 51px -6px rgba(0, 0, 0, 0.75);
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
}

.input-text-settings input {
    width: auto;
    border-bottom: 1px solid #616161;
    width: 35%;
    margin: 0 auto;
    display: block;
}

#ipInfoSettings {
    border: 1px solid;
    margin: 10px 0;
}

.settingsButton {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    color: #2196f3;
    font-weight: bold;
    font-size: 17px;
}

.settingsSubmit {
    float: right;
    color: #2196f3;
    background-color: white;
    cursor: pointer;
    width: 120px;
    height: 50px;
    line-height: 50px;
    background-color: #212121;
}

.card {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
}

.help {
    margin: 30px;
}

#toast {
    min-width: 400px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    text-align: center;
    font-size: 17px;
    line-height: 50px;
    opacity: 0;
    z-index: 4;
    visibility: hidden;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

.closeToast {
    font-size: 15px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

#confirmFunction {
    position: fixed;
    top: 50%;
    left: 30%;
    width: 800px;
    height: 65px;
    font-weight: bold;
    line-height: 65px;
    visibility: hidden;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

#confirmMessage {
    margin-left: 15px;
}

.confirmButton {
    position: absolute;
    top: 0px;
    cursor: pointer;
}

#confirmYes {
    right: 90px;
    color: #2196f3;
}

#confirmNo {
    right: 20px;
}

#getNextPage {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

.getNextPage {
    display: contents;
}

#comments {
    display: none;
    padding: 1em;
    margin-bottom: 1em;
}

.saved {
    color: #FFEB3B;
}

.blogFeed a {
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    .searchBar {
        width: 500px;
        right: -15px;
    }
}

/* Thanks to Guus Lieben for the Material Design Switch */

.switch-input {
    display: none;
}

.switch-label {
    position: relative;
    display: inline-block;
    min-width: 112px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    margin: 16px;
    padding: 16px 0 16px 44px;
}

.switch-label:before,
.switch-label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9E9E9E;
    border-radius: 8px;
}

.switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.switch-label .toggle--on {
    display: none;
}

.switch-label .toggle--off {
    display: inline-block;
}

.switch-input:checked+.switch-label:before {
    background-color: #90CAF9;
}

.switch-input:checked+.switch-label:after {
    background-color: #2196F3;
    -ms-transform: translate(80%, -50%);
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
}

.switch-input:checked+.switch-label .toggle--on {
    display: inline-block;
}

.switch-input:checked+.switch-label .toggle--off {
    display: none;
}
