/*
This file is to fix some of the resizing issues introduced when full screening the video player.
*/

#player_native_dash {
  max-height: 80vh;
}

.mejs__container {
    max-height: 80vh;
}

.videoPlayer {
    width: 100%;
    height: 100%;
    max-height: 80vh;
}
