.searchFilterInner {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px 20px 70px 20px;
  max-height: 410px;
  overflow-y: auto;

  background-color: var(--card-bg-color);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);

  opacity: 0.9;
}

.center {
  text-align: center;
}

.searchRadio {
  padding: 5px;
}

.radioFlexBox {
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .searchRadio {
    border-right: 0;
  }
}
