.searchFilter {
  background-color: var(--card-bg-color);
  padding: 20px;
  padding-bottom: 70px;
  max-height: 410px;
  overflow-y: auto;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.center {
  text-align: center;
}

.searchRadio {
  padding: 5px;
}

.radioFlexBox {
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .searchRadio {
    border-right: 0px;
  }
}
