.bubblePadding {
  position: relative;
  inline-size: 100px;
  block-size: 100px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  transition: background 0.2s ease-out;
}

.bubblePadding:hover {
  background-color: var(--side-nav-hover-color);
  color: var(--side-nav-hover-text-color);
  transition: background 0.2s ease-in;
}

.bubble {
  inline-size: 50px;
  block-size: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.selected {
  position: absolute;
  inset-block-start: 10px;
  background-color: rgb(0 0 0 / 50%);
}

.icon {
  color: #eee;
  font-size: 25px;
  position: absolute;
  inset-block-start: 12px;
  inset-inline-start: 12px;
}

.channelName {
  display: block;
  font-size: 13px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  inline-size: 100%;
}
