.bubblePadding {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.bubblePadding:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.bubble {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
}

.selected {
  position: absolute;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.icon {
  color: #EEEEEE;
  font-size: 25px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.channelName {
  display: block;
  font-size: 13px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
}
