.card {
  margin-block: 0 60px;
  margin-inline: auto;

  &:not(.fullWidth) {
    inline-size: 85%;
  }
}

.message {
  color: var(--tertiary-text-color);
}

.profileList {
  max-inline-size: 1000px;
  margin-block: 0 10px;
  margin-inline: auto;
}

@media only screen and (max-width: 680px) {
  .card:not(.fullWidth) {
    inline-size: 90%;
  }
}
