.card {
  position: relative;

  width: 85%;
  margin-block: 0 60px;
  margin-inline: auto;
}

.headingText {
  display: inline-block;
}

.newPlaylistButton {
  margin-left: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.sortSelect {
  /* Put it on the right */
  margin-left: auto;
}

.message {
  color: var(--tertiary-text-color);
}

@media only screen and (max-width: 680px) {
  .card {
    width: 90%;
  }
}
