.card {
  width: 85%;
  margin-block: 0 60px;
  margin-inline: auto;
}

.floatingTopButton {
  position: fixed;
  top: 70px;
  right: 10px;
}

@media only screen and (max-width: 350px) {
  .floatingTopButton {
    position: absolute
  }
}

@media only screen and (max-width: 680px) {
  .card {
    width: 90%;
  }
}
