.card {
  inline-size: 85%;
  margin-block: 0 60px;
  margin-inline: auto;
}

.headingIcon {
  color: var(--primary-color);
}

@media only screen and (width <= 680px) {
  .card {
    inline-size: 90%;
  }
}
