.prompt {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promptCard.autosize {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 95%;
}

.promptCard:not(.autosize) {
  width: 95%;
  margin: 0;
  position: absolute;
  left: 2.5%;
  box-sizing: border-box;
}

.center {
  text-align: center;
}
