hr {
  inline-size: 85%;
  margin-block: 0;
  margin-inline: auto;
  border: 0;
  border-block-start: 2px solid var(--scrollbar-color-hover);
}

@media only screen and (max-width: 800px) {
  hr {
    inline-size: 100%;
  }
}

.switchColumnGrid {
  inline-size: 85%;
  margin-inline: auto;
}

.settingsToggle {
  padding-block: 0;
  margin-block: 10px 5px;
}
