.settingsPage {
  display: flex;
}

.settingsContent {
  margin-inline-start: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsSections {
  margin-inline: auto;
}

.switchRow {
  display: flex;
}

/* .settingsSections {

} */

.settingsToggle {
  padding-block: 0;
  margin-block: 10px 5px;
}

.section + .section {
  padding-block-start: 20px;
}
