.settingsPage {
  display: flex;
}

.settingsSections,
.switchRow {
  overflow-x: hidden;
  max-inline-size: 90%;
}

.switchRow {
  display: flex;
  margin-inline-end: auto;
  align-items: center;
  margin-block-end: 5px;
}

.settingsToggle {
  padding-block: 0;
  margin-block: 0;
}

.section {
  /* enables anchor link clicks to land with the section title in the top quarter of the page */
  scroll-margin-top: 24vh;
}

@media only screen and (width <= 1015px) {
  .settingsMenu {
    block-size: auto;
    gap: 1em;

  }

  .switchRow {
    display: none;
  }

  .settingsSections {
    overflow-y: hidden;
  }

  .switchRow,
  .settingsSections {
    inline-size: 100%;
    max-inline-size: 100%;
    box-sizing: border-box;
  }

  .settingsContent {
    inline-size: 100%;
  }

  .settingsSection {
    inline-size: 100%;
    max-inline-size: 100%;
    display: block;
  }

  .hideOnMobile {
    display: none;
  }

  .returnToMenuMobileIcon {
    font-size: 2em;
    inline-size: 1.5em;
    block-size: 1.5em;
    padding-inline-end: 0.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (width <= 680px) {
  .settingsMenu {
    margin: 0;
    inline-size: 100%;
    gap: 0;
  }

  :deep(.title) {
    box-sizing: border-box;
    inline-size: 100%;
    padding-block: 0.5em;
    border-block-end: 3px solid var(--side-nav-color);
    max-inline-size: 100%;
  }

  :deep(.title):last-child {
    border-block-end: none;
  }
}

/*
@media only screen and (width >= 1015px) {
  .section + .section {
    padding-block-start: 20px;
  }

  .settingsSections:last-child {
    /* Add enough blank space to have the last setting section be active on the FtSettingsMenu when scrolled to *\/
    margin-block-end: calc(76vh - 150px);
  }
}

@media only screen and (width <= 1200px) {

}

@media only screen and (width <= 1015px) {
  /* Needed to overcome routerView styling for margin-block *\/
  .settingsPage.settingsPage {
    margin-block: 0;
    flex-direction: column;
    gap: 10px;
  }

  .switchRow,
  .settingsSections {
    margin-inline: auto;
  }

  .switchRow {
    display: none;
  }

  .settingsSections {
    overflow-y: hidden;
    margin-block-end: 80px;
  }

  .hideOnMobile {
    display: none;
  }

  .returnToMenuMobileButton {
    margin-block-start: 20px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    border-style: none;
    font-size: 30px;
    line-height: 1em;
  }

  .returnToMenuMobileIcon {
    inline-size: 1em;
  }
}
*/
