.center {
  margin-block-start: 10px;
  text-align: center;
  user-select: none;
}

.searchRadio {
  padding: 5px;
}

.radioFlexBox {
  margin-block: 0;
  margin-inline: auto;
}

.searchFilterCloseButtonContainer {
  display: flex;
  justify-content: center;
}

.titleContainer {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.5rem;
  block-size: inherit;
}

.clearFilterButton {
  border-radius: 50%;
  border-style: none;
  background-color: transparent;
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 20px;
  line-height: 1em;
  padding: 10px;
  transition: background 0.2s ease-out;

  &:hover {
    background-color: var(--side-nav-hover-color);
    color: var(--side-nav-hover-text-color);
    transition: background 0.2s ease-in;
  }

  &:active {
    background-color: var(--tertiary-text-color);
    color: var(--side-nav-active-text-color);
    transition: background 0.2s ease-in;
  }
}

.clearFilterIcon {
  vertical-align: -0.25em;
}

@media only screen and (width <= 680px) {
  .searchRadio {
    border-inline-end: 0;
    padding-block-start: 0;
  }

  .radioFlexBox {
    flex-flow: column;
  }
}
