.center {
  margin-block: 5px 10px;
  text-align: center;
  user-select: none;
}

.searchRadio {
  padding: 5px;
}

.radioFlexBox {
  margin-block: 0;
  margin-inline: auto;
}

.searchFilterCloseButtonContainer {
  display: flex;
  justify-content: center;
}

@media only screen and (width <= 680px) {
  .searchRadio {
    border-inline-end: 0;
    padding-block-start: 0;
  }

  .radioFlexBox {
    flex-flow: column;
  }
}
