.bubblePadding {
  width: 100px;
  height: 115px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.bubblePadding:hover {
  background-color: var(--side-nav-hover-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.bubble {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 25px;
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
}

.initial {
  font-size: 25px;
  text-align: center;
  position: relative;
  top: 12px;
}

.profileName {
  font-size: 13px;
  height: 60px;
  overflow: hidden;
  text-align: center;
}
