.bubblePadding {
  width: 100px;
  height: 115px;
  padding-block: 10px 30px;
  padding-inline: 10px;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.bubblePadding:hover {
  background-color: var(--side-nav-hover-color);
  color: var(--side-nav-hover-text-color);
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.bubble {
  width: 70px;
  height: 70px;
  margin-block: 20px 5px;
  margin-inline: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.initial {
  font-size: 35px;
  line-height: 1em;
  text-align: center;
  padding-block: 17.5px;
  padding-inline: 0;
  user-select: none;
  -webkit-user-select: none;
}

.profileName {
  font-size: 14px;
  line-height: 1.5em;
  overflow: hidden;
  text-align: center;
}
