.playlistInfo {
  background-color: var(--card-bg-color);
  padding: 10px;
  position: fixed;
  top: 60px;
  width: 30%;
  height: 100%;
  overflow-y: auto;
}

.playlistItems {
  width: 60%;
  padding: 10px;
  display: grid;
  grid-gap: 10px;
}

body[dir='ltr']  .playlistInfo, body[dir='rtl'] .playlistItems  {
  float: left;
}

body[dir='rtl']  .playlistInfo, body[dir='ltr'] .playlistItems  {
  float: right;
}