.routerView {
  display: flex;
}

.playlistInfo {
  background-color: var(--card-bg-color);
  box-sizing: border-box;
  height: calc(100vh - 132px);
  margin-right: 1em;
  overflow-y: auto;
  padding: 10px;
  position: sticky;
  top: 96px;
  width: 30%;
}

.playlistItems {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin: 0;
  padding: 10px;
  width: 60%;
}

.playlistItem {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 8px;
  align-items: center;
}

.videoIndex {
  color: var(--tertiary-text-color);
}

.loadNextPageWrapper {
  /* about the same height as the button */
  max-height: 7vh;
}

:deep(.videoThumbnail) {
  margin-top: auto;
  margin-bottom: auto;
}

:deep(.thumbnailImage) {
  max-width: 25vw;
}

@media only screen and (max-width: 850px) {
  .routerView {
    flex-direction: column;
  }

  .playlistInfo {
    box-sizing: border-box;
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
  }

  .playlistItems {
    box-sizing: border-box;
    width: 100%;
  }

  :deep(.thumbnailImage) {
    max-width: 35vw;
  }
}
