.vote-count {
  padding-block-end: 6px;
  font-size: smaller;
}

.empty-circle {
  background-color: transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  display: block;
  float: inline-start;
  block-size: 10px;
  position: relative;
  inline-size: 10px;
}

.filled-circle {
  border-radius: 50%;
  background-color: #000;
  float: inline-start;
  block-size: 6px;
  inset-inline-start: 2px;
  inset-block-start: 2px;
  position: relative;
  inline-size: 6px;
}

.option-text {
  margin-inline-start: 10px;
}

.option {
  display: flex;
  align-items: center;
  padding-block: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding-inline-start: 10px;
  margin-block-end: 10px;
}

.option > img {
  margin-inline-start: 10px;
  block-size: 125px;
}

.correct-option {
  border-color: #78da71;
  border-width: 2px;
}

.correct-option .filled-circle {
  background-color: #78da71;
}

.incorrect-option {
  border-color: #dd4e4e;
  border-width: 2px;
}

.reveal-answer {
  justify-content: center;
  cursor: pointer;
}

.reveal-answer:hover,
.reveal-answer:focus {
  background-color: var(--side-nav-hover-color);
}
