.videoDescription {
  overflow-y: auto;
  max-block-size: 300px;
}

.description {
  font-family: Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 17px;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.getDescriptionTitle {
  margin: 0;
  padding-block: 8px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}

.short {
  block-size: 230px;
  overflow: hidden;
  mask-image: linear-gradient(180deg, rgb(2 0 36 / 100%) 80%, rgb(255 255 255 / 0%) 100%);
}
