.videoDescription {
  position: relative;
  overflow-y: auto;
  max-block-size: 20lh;
}

.description {
  font-family: Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 17px;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.descriptionStatus {
  margin: 0;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}

.videoDescription.short .descriptionStatus {
  position: absolute;
  inset-block-end: calc(1lh + 12px);
  padding-block: 2px;
  inset-inline-end: 16px;
  padding-inline-start: 40px;
  background: linear-gradient(270deg, var(--card-bg-color) 75%, transparent 100%);
}

.videoDescription.short .description {
  max-block-size: 4lh;
  overflow: hidden;
}

.videoDescription .overlay {
  position: absolute;
  cursor: pointer;
  inset: 0;
  transition: background-color 200ms ease;
}

.videoDescription .overlay:hover {
  background-color: var(--accent-color-opacity1);
}
