.videoDescription {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-block-size: 20lh;
}

.description {
  font-family: Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 17px;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.descriptionStatus {
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
  color: var(--title-color);
}

.videoDescription.short {
  cursor: pointer;
}

.videoDescription.short .descriptionStatus {
  position: absolute;
  inset-block-end: calc(1lh + 12px);
  padding-block: 2px;
  inset-inline-end: 16px;
  padding-inline-start: 40px;
  background: linear-gradient(270deg, var(--card-bg-color) 75%, transparent 100%);
  text-decoration: none;
}

.videoDescription:not(.short) .descriptionStatus {
  position: relative;
  margin-block-start: 1em;
}

.videoDescription.short .description {
  max-block-size: 4lh;
  overflow: hidden;
}

.license {
  margin-block: 1em;
}
