.getNextPage {
  background-color: var(--search-bar-color);
  inline-size: 100%;
  block-size: 45px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  margin-block-start: 16px;
}

.getNextPage:hover, .getNextPage:focus {
  background-color: var(--side-nav-hover-color);
  color: var(--side-nav-hover-text-color);
}

.card {
  margin-block: 0 60px;
  margin-inline: auto;

  &:not(.fullWidth) {
    inline-size: 85%;
  }
}

@media only screen and (max-width: 680px) {
  .card:not(.fullWidth) {
    inline-size: 90%;
  }
}
