.getNextPage {
  background-color: var(--search-bar-color);
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  margin-top: 16px;
}

.card {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.titleArea {
  display: flex;
  align-items: center;
  width: 100%;
}

.titleArea > h3 {
  flex: 1;
}

.hiddenItemsCount {
  font-size: 0.9rem;
  filter: brightness(0.75);
  justify-content: space-between;
}

.floatingTopButton {
  position: fixed;
  top: 70px;
  right: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.15s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media only screen and (max-width: 500px) {
  .titleArea {
    flex-direction: column;
  }

  .hiddenItemsCount {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 680px) {
  .card {
    width: 90%;
  }
}
