.getNextPage {
  background-color: var(--search-bar-color);
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  margin-top: 16px;
}

.card {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 60px;
}

@media only screen and (max-width: 680px) {
  .card {
    width: 90%;
  }
}
