<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style/main.css">
  <link rel="stylesheet" href="style/lightTheme.css">
  <link rel="stylesheet" href="style/player.css">
  <link rel="stylesheet" href="style/videoList.css">
  <link rel="stylesheet" href="style/channel.css">
  <link rel="stylesheet" href="style/playlist.css">
  <link rel="stylesheet" href="style/loading.css">
  <link rel="stylesheet" href="style/select.css">
  <link rel="stylesheet" href="style/fa-solid.min.css">
  <link rel="stylesheet" href="style/fontawesome-all.min.css">
  <title>Freetube Player</title>
</head>

<body>
  <div v-if='seen' id='loading'>
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
  <div id='confirmFunction'>
    <span id='confirmMessage'>Would you like to perform the function?</span>
    <div class='confirmButton' id='confirmYes'>Yes</div>
    <div class='confirmButton' id='confirmNo'>No</div>
  </div>
  <div id='toast'>
    <span id='toastMessage'></span>
    <i onclick='hideToast()' class="closeToast fas fa-times"></i>
  </div>
  <div id="topNav" class="topNav">
    <i onclick='toggleSideNavigation()' class="fas fa-bars" id='menuButton'></i>
    <i onclick='forceSubscriptions()' class="fas fa-sync" id='reloadButton' title='Force Subscription Reload'></i>
    <i v-on:click='back' v-if="canShowBackButton" class="fas fa-arrow-left" id="backButton"></i>
    <div class="searchBar">
      <input id='search' class="search" type="text" placeholder="Search / Go to URL">
      <span class='filterButton' onclick='searchFilter.seen = !searchFilter.seen'><i class="fas fa-filter" style='margin-right: -10px; cursor: pointer'></i>&nbsp;&nbsp;&nbsp;&nbsp;Filter</span>
      <span class='searchButton' onclick='parseSearchText()'><i class="fas fa-search" style='margin-right: -10px; cursor: pointer'></i>&nbsp;&nbsp;&nbsp;&nbsp;Search</span>
    </div>
    <img src='icons/iconBlackSmall.png' id='menuIcon' /> &nbsp;
    <img src='icons/textBlackSmall.png' id='menuText' />
  </div>
  <div id='sideNavDisabled'></div>
  <div id="sideNav">
    <div class="sideNavContainer">
      <ul>
        <li v-on:click='subscriptions'><i class="fas fa-rss"></i>&nbsp;&nbsp;Subscriptions</li>
        <li v-on:click='trending'><i class="fas fa-fire"></i>&nbsp;&nbsp;Trending</li>
        <li v-on:click='popular'><i class="fas fa-users"></i>&nbsp;&nbsp;Most Popular</li>
        <li v-on:click='saved'><i class="fas fa-star"></i>&nbsp;&nbsp;Favorites</li>
        <li v-on:click='history'><i class="fas fa-history"></i>&nbsp;&nbsp;History</li>
      </ul>
      <hr />
      <ul>
        <li v-on:click='settings'><i class="fas fa-sliders-h"></i>&nbsp;&nbsp;Settings</li>
        <li v-on:click='about'><i class="fas fa-info-circle"></i>&nbsp;&nbsp;About</li>
      </ul>
      <hr />
      <ul id='subscriptions'>
      </ul>
    </div>
  </div>
  <div id="main">
    <div id='searchFilter' class='center' v-show='seen'>
      <h2>Search Filters</h2>
      <select id='searchSortby' class='select-text'>
         <option value="relevance">Most Relevant</option>
         <option value="rating">Rating</option>
         <option value="upload_date">Upload Date</option>
         <option value="view_count">View Count</option>
      </select>
      <select id='searchDate' class='select-text'>
         <option value="">Any Time</option>
         <option value="hour">Last Hour</option>
         <option value="today">Today</option>
         <option value="week">This Week</option>
         <option value="month">This Month</option>
         <option value="year">This Year</option>
      </select>
      <select id='searchType' class='select-text'>
         <option value="all">All Types</option>
         <option value="video">Videos</option>
         <option value="channel">Channels</option>
         <option value="playlist">Playlists</option>
      </select>
      <select id='searchDuration' class='select-text'>
         <option value="">All Durations</option>
         <option value="short">Short (< 4 minutes)</option>
         <option value="long">Long (> 20 minutes)</option>
      </select>
    </div>
    <div id='noSubscriptions' v-if='seen'>
      <h2 class="message">
        Your Subscription list is currently empty.  Start adding subscriptions
        to see them here.
        <br /><br />
        <i class="far fa-frown" style="font-size: 200px"></i>
      </h2>
    </div>
    <div id='channelView'></div>
    <div id='mainHeaderView'></div>
    <div id='channelVideosView'></div>
    <div id='searchView'></div>
    <div id='subscriptionView'></div>
    <div id='popularView'></div>
    <div id='trendingView'></div>
    <div id='savedView'></div>
    <div id='historyView'></div>
    <div id='playlistView'></div>
    <div id='aboutView'></div>
    <div id='settingsView'></div>
    <div id='playerView'></div>
  </div>
  <div id='progressView'></div>
</body>
<script src="js/general.js"></script>
<script src="js/youtubeApi.js"></script>
<script src="js/updates.js"></script>
<script src="js/db.js"></script>
<script src="js/settings.js"></script>
<script src="js/layout.js"></script>
<script src="js/templates.js"></script>
<script src="js/videos.js"></script>
<script src="js/player.js"></script>
<script src="js/subscriptions.js"></script>
<script src="js/channels.js"></script>
<script src="js/savedVideos.js"></script>
<script src="js/history.js"></script>
<script src="js/playlist.js"></script>
<script src="js/events.js"></script>

</html>
