<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <title></title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <script>
      require('module').globalPaths.push(
        `<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>`
      )
    </script>
    <% } %>
  </head>

  <body class="light mainRed secBlue">
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development')
        window.__static = require('path')
          .join(__dirname, '/static')
          .replace(/\\/g, '\\\\')
    </script>
    <!-- webpack builds are automatically injected -->
  </body>

</html>
