<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <% if (!process.env.IS_ELECTRON) { %>
    <link rel="manifest" href="static/manifest.json" />
    <% } %>
    <title></title>
  </head>

  <body>
    <div id="app"></div>
    <% if (process.env.IS_ELECTRON) { %>
    <iframe
      id="sigFrame"
      src="<%= sigFrameSrc %>"
      csp="default-src 'none'; script-src '<%= sigFrameCspHash %>' 'unsafe-eval'"
      sandbox="allow-scripts"
      height="1"
      width="1"
      style="display: none; pointer-events: none"
      tabindex="-1"
    ></iframe>
    <% } else { %>
    <script>
    // This is the service worker with the Advanced caching

    // Add this below content to your HTML page, or add the js file to your page at the very top to register service worker

    // Check compatibility for the browser we're running this in
    if ("serviceWorker" in navigator) {
      if (navigator.serviceWorker.controller) {
        console.log("[PWA Builder] active service worker found, no need to register");
      } else {
        // Register the service worker
        navigator.serviceWorker
          .register("pwabuilder-sw.js", {
            scope: "./"
          })
          .then(function (reg) {
            console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
          });
      }
    }
    </script>
    <% } %>
    <!-- webpack builds are automatically injected -->
  </body>

</html>
