@use "../../sass-partials/_ft-list-item"
.ft-community-post
  outline: #E0E0E0 solid

.ft-auto-grid
  &.grid
    display: grid
    grid-template-columns: repeat(auto-fill, 524px)
    justify-content: space-evenly
    grid-gap: 8px

