.relative {
  position: relative;
}

.card {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

@media only screen and (max-width: 680px) {
  .card {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .sponsorBlockSettingsFlexBox {
    justify-content: flex-start;
  }
}
