@font-face {
  font-family: Roboto;
  src: url(assets/font/Roboto-Regular.ttf);
}

body {
  min-height: 100vh;
}

#app {
  font-family: 'Roboto', sans-serif;
}

.hideOutlines *:focus {
  outline: none;
}

.rightAligned: {
  text-align: right;
}

.routerView {
  margin-left: 200px;
  margin-top: 80px;
  transition-property: margin;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.expand {
  margin-left: 80px;
}

@media only screen and (max-width: 680px) {
  .expand, .routerView {
    margin-left: 0px;
    margin-bottom: 80px;
  }
}
