@font-face {
  font-family: Roboto;
  src: url(assets/font/Roboto-Regular.ttf);
}

#app {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  height: 100%;
}

.routerView {
  flex: 1 1 0%;
  margin: 18px 10px;
}

.banner {
  width: 80%;
  margin: 20px auto 0;
}

.flexBox {
  display: block;
}

#changeLogText {
  overflow-y: scroll;
  height: 40vh;
  display: block
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .15s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@media only screen and (max-width: 680px) {
  .routerView {
    margin: 68px 8px 68px;
  }

  .banner {
    width: 80%;
    margin-top: 20px;
  }

  .flexBox {
    margin-top: 60px;
    margin-bottom: -75px;
  }
}
