@font-face {
  font-family: Roboto;
  src: url(assets/font/Roboto-Regular.ttf);
}

body {
  min-height: 100vh;
}

#app {
  font-family: 'Roboto', sans-serif;
}

.routerView {
  margin-left: 200px;
  margin-top: 80px;
  transition-property: margin;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.expand {
  margin-left: 80px;
}

.banner {
  width: 85%;
}

.flexBox {
  margin-top: 60px;
  margin-bottom: -75px;
}

#changeLogText {
  overflow-y: scroll;
  height: 40vh;
  display: block
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .15s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@media only screen and (max-width: 680px) {
  .expand, .routerView {
    margin-left: 0px;
    margin-bottom: 80px;
  }

  .banner {
    width: 90%;
  }

  .flexBox {
    margin-top: 60px;
    margin-bottom: -75px;
  }
}
