@font-face {
  font-family: Roboto;
  src: url("assets/font/Roboto-Regular.ttf");
}

.app {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  block-size: 100%;
}

.routerView {
  flex: 1 1 0%;
  margin-block: 18px;
  margin-inline: 5px;
}

.banner {
  margin-block: 40px 0;
  margin-inline: auto;
}

.banner + .banner {
  margin-block: 20px;
}

.banner-wrapper {
  margin-block: 0;
  margin-inline: 10px;
}

.flexBox {
  display: block;
  user-select: unset;
}

.changeLogText {
  overflow-y: scroll;
  block-size: 40vh;
  display: block;
  padding-inline: 16px;
  margin-block: 16px;
  overflow-wrap: break-word;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .15s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* align banner with ft-card width using identical styling rules */
@media only screen and (width > 680px) {
  .isSideNavOpen .banner {
    max-inline-size: min(calc(100vw + -262px), 2800px);
  }

  .hideLabelsSideBar .banner {
    max-inline-size: min(calc(100vw + -122px), 2800px);
  }
}


@media only screen and (width <= 680px) {
  .routerView {
    margin-block: 68px;
    margin-inline: 8px;
  }

  .banner {
    max-inline-size: calc(100vw - 64px);
    margin-block: 60px 0;
  }

  .flexBox {
    margin-block: 60px -75px;
  }

  .changeLogText {
    block-size: 65vh;
  }
}
