.light {
  --primary-text-color: #212121;
  --secondary-text-color: #424242;
  --tertiary-text-color: #757575;
  --primary-input-color: rgba(0, 0, 0, 0.5);
  --primary-shadow-color: rgba(232, 232, 232, 1);
  --title-color: #3f7ac6;
  --bg-color: #f1f1f1;
  --link-color: var(--accent-color);
  --link-visited-color: var(--accent-color-visited);
  --favorite-icon-color: #ffd600;
  --card-bg-color: #ffffff;
  --secondary-card-bg-color: #eeeeee;
  --scrollbar-color: #cccccc;
  --scrollbar-color-hover: #bdbdbd;
  --side-nav-color: #ffffff;
  --side-nav-hover-color: #e0e0e0;
  --side-nav-active-color: #757575;
  --search-bar-color: #f5f5f5;
  --instance-menu-color: var(--search-bar-color);
  --logo-icon: url('~../../_icons/iconColorSmall.png');
  --logo-text: url('~../../_icons/textColorSmall.png');
}

.dark {
  --primary-text-color: #eeeeee;
  --secondary-text-color: #ddd;
  --tertiary-text-color: #999;
  --primary-input-color: rgba(0, 0, 0, 0.5);
  --primary-shadow-color: rgba(0, 0, 0, 0.75);
  --title-color: #eeeeee;
  --bg-color: #212121;
  --link-color: var(--accent-color);
  --link-visited-color: var(--accent-color-visited);
  --favorite-icon-color: #ffea00;
  --card-bg-color: #303030;
  --secondary-card-bg-color: rgba(0, 0, 0, 0.75);
  --scrollbar-color: #414141;
  --scrollbar-color-hover: #757575;
  --side-nav-color: #262626;
  --side-nav-hover-color: #212121;
  --side-nav-active-color: #303030;
  --search-bar-color: #262626;
  --instance-menu-color: var(--search-bar-color);
  --logo-icon: url('~../../_icons/iconColorSmall.png');
  --logo-text: url('~../../_icons/textColorSmall.png');
}

.black {
  --primary-text-color: #eeeeee;
  --secondary-text-color: #ddd;
  --tertiary-text-color: #eeeeee;
  --primary-input-color: rgba(0, 0, 0, 0.5);
  --primary-shadow-color: #000000bf;
  --title-color: #EEEEEEE;
  --bg-color: #000000;
  --link-color: var(--accent-color);
  --link-visited-color: var(--accent-color-visited);
  --favorite-icon-color: #ffea00;
  --card-bg-color: #000000;
  --secondary-card-bg-color: rgba(0, 0, 0, 0.75);
  --scrollbar-color: #515151;
  --scrollbar-color-hover: #424242;
  --side-nav-color: #000000;
  --side-nav-hover-color: #212121;
  --side-nav-active-color: #303030;
  --search-bar-color: #262626;
  --instance-menu-color: var(--search-bar-color);
  --logo-icon: url('~../../_icons/iconColorSmall.png');
  --logo-text: url('~../../_icons/textColorSmall.png');
}

.dracula {
  --primary-text-color: #f8f8f2;
  --secondary-text-color: #8c9ac4;
  --tertiary-text-color: #c2c8db;
  --primary-input-color: rgba(0, 0, 0, 0.5);
  --primary-shadow-color: rgba(0, 0, 0, 0.75);
  --title-color: #bd93f9;
  --bg-color: #282a36;
  --link-color: var(--accent-color);
  --link-visited-color: var(--accent-color-visited);
  --favorite-icon-color: #f1fa8c;
  --card-bg-color: #33353f;
  --secondary-card-bg-color: #282a36;
  --scrollbar-color: #44475a;
  --scrollbar-color-hover: #3d4051;
  --side-nav-color: #44475a;
  --side-nav-hover-color: #57596b;
  --side-nav-active-color: #3d4051;
  --search-bar-color: #3e3f4a;
  --instance-menu-color: var(--search-bar-color);
  --logo-icon: url('~../../_icons/iconDraculaLightSmall.png');
  --logo-text: url('~../../_icons/textDraculaLightSmall.png');
}

.gray {
  --primary-text-color: #eeeeee;
  --secondary-text-color: #e0e0e0;
  --tertiary-text-color: #f5f5f5;
  --primary-input-color: rgba(0, 0, 0, 0.5);
  --primary-shadow-color: rgba(0, 0, 0, 0.75);
  --title-color: #eeeeee;
  --bg-color: #212121;
  --card-bg-color: #303030;
  --secondary-card-bg-color: rgba(0, 0, 0, 0.75);
  --side-nav-color: #262626;
  --side-nav-hover-color: #212121;
  --side-nav-active-color: #303030;
  --search-bar-color: #212121;
  --logo-icon: url('~../../_icons/iconColorSmall.png');
  --logo-text: url('~../../_icons/textColorSmall.png');
}

.mainRed {
  --primary-color: #f44336;
  --primary-color-hover: #e53935;
  --primary-color-active: #c62828;
  --text-with-main-color: #ffffff;
  --logo-icon-bar-color: url('~../../_icons/iconWhite.png');
  --logo-text-bar-color: url('~../../_icons/textWhite.png');
}

.mainPink {
  --primary-color: #e91e63;
  --primary-color-hover: #d81b60;
  --primary-color-active: #ad1457;
  --text-with-main-color: #ffffff;
  --logo-icon-bar-color: url('~../../_icons/iconWhite.png');
  --logo-text-bar-color: url('~../../_icons/textWhite.png');
}

.mainPurple {
  --primary-color: #9c27b0;
  --primary-color-hover: #8e24aa;
  --primary-color-active: #6a1b9a;
  --text-with-main-color: #ffffff;
  --logo-icon-bar-color: url('~../../_icons/iconWhite.png');
  --logo-text-bar-color: url('~../../_icons/textWhite.png');
}

.mainDeepPurple {
  --primary-color: #673ab7;
  --primary-color-hover: #5e35b1;
  --primary-color-active: #4527a0;
  --text-with-main-color: #ffffff;
  --logo-icon-bar-color: url('~../../_icons/iconWhite.png');
  --logo-text-bar-color: url('~../../_icons/textWhite.png');
}

.mainIndigo {
  --primary-color: #3f51b5;
  --primary-color-hover: #3949ab;
  --primary-color-active: #283593;
  --text-with-main-color: #ffffff;
  --logo-icon-bar-color: url('~../../_icons/iconWhite.png');
  --logo-text-bar-color: url('~../../_icons/textWhite.png');
}

.mainBlue {
  --primary-color: #2196f3;
  --primary-color-hover: #1e88e5;
  --primary-color-active: #1565c0;
  --text-with-main-color: #ffffff;
  --logo-icon-bar-color: url('~../../_icons/iconWhite.png');
  --logo-text-bar-color: url('~../../_icons/textWhite.png');
}

.mainLightBlue {
  --primary-color: #03a9f4;
  --primary-color-hover: #039be5;
  --primary-color-active: #0277bd;
  --text-with-main-color: #ffffff;
  --logo-icon-bar-color: url('~../../_icons/iconWhite.png');
  --logo-text-bar-color: url('~../../_icons/textWhite.png');
}

.mainCyan {
  --primary-color: #00bcd4;
  --primary-color-hover: #00acc1;
  --primary-color-active: #00838f;
  --text-with-main-color: #ffffff;
  --logo-icon-bar-color: url('~../../_icons/iconWhite.png');
  --logo-text-bar-color: url('~../../_icons/textWhite.png');
}

.mainTeal {
  --primary-color: #009688;
  --primary-color-hover: #00897b;
  --primary-color-active: #00695c;
  --text-with-main-color: #ffffff;
  --logo-icon-bar-color: url('~../../_icons/iconWhite.png');
  --logo-text-bar-color: url('~../../_icons/textWhite.png');
}

.mainGreen {
  --primary-color: #4caf50;
  --primary-color-hover: #43a047;
  --primary-color-active: #2e7d32;
  --text-with-main-color: #ffffff;
  --logo-icon-bar-color: url('~../../_icons/iconWhite.png');
  --logo-text-bar-color: url('~../../_icons/textWhite.png');
}

.mainLightGreen {
  --primary-color: #8bc34a;
  --primary-color-hover: #7cb342;
  --primary-color-active: #558b2f;
  --text-with-main-color: #000000;
  --logo-icon-bar-color: url('~../../_icons/iconBlackSmall.png');
  --logo-text-bar-color: url('~../../_icons/textBlackSmall.png');
}

.mainLime {
  --primary-color: #cddc39;
  --primary-color-hover: #c0ca33;
  --primary-color-active: #9e9d24;
  --text-with-main-color: #000000;
  --logo-icon-bar-color: url('~../../_icons/iconBlackSmall.png');
  --logo-text-bar-color: url('~../../_icons/textBlackSmall.png');
}

.mainYellow {
  --primary-color: #ffeb3b;
  --primary-color-hover: #fdd835;
  --primary-color-active: #f9a825;
  --text-with-main-color: #000000;
  --logo-icon-bar-color: url('~../../_icons/iconBlackSmall.png');
  --logo-text-bar-color: url('~../../_icons/textBlackSmall.png');
}

.mainAmber {
  --primary-color: #ffc107;
  --primary-color-hover: #ffb300;
  --primary-color-active: #ff8f00;
  --text-with-main-color: #000000;
  --logo-icon-bar-color: url('~../../_icons/iconBlackSmall.png');
  --logo-text-bar-color: url('~../../_icons/textBlackSmall.png');
}

.mainOrange {
  --primary-color: #ff9800;
  --primary-color-hover: #fb8c00;
  --primary-color-active: #ef6c00;
  --text-with-main-color: #000000;
  --logo-icon-bar-color: url('~../../_icons/iconBlackSmall.png');
  --logo-text-bar-color: url('~../../_icons/textBlackSmall.png');
}

.mainDeepOrange {
  --primary-color: #ff5722;
  --primary-color-hover: #f4511e;
  --primary-color-active: #d84315;
  --text-with-main-color: #000000;
  --logo-icon-bar-color: url('~../../_icons/iconBlackSmall.png');
  --logo-text-bar-color: url('~../../_icons/textBlackSmall.png');
}

.mainDraculaCyan {
  --primary-color: #8be9fd;
  --primary-color-hover: #97ebfd;
  --primary-color-active: #7dd2e4;
  --text-with-main-color: #6272a4;
  --logo-icon-bar-color: url('~../../_icons/iconDraculaDarkSmall.png');
  --logo-text-bar-color: url('~../../_icons/textDraculaDarkSmall.png');
}

.mainDraculaGreen {
  --primary-color: #50fa7b;
  --primary-color-hover: #62fb88;
  --primary-color-active: #48e16f;
  --text-with-main-color: #6272a4;
  --logo-icon-bar-color: url('~../../_icons/iconDraculaDarkSmall.png');
  --logo-text-bar-color: url('~../../_icons/textDraculaDarkSmall.png');
}

.mainDraculaOrange {
  --primary-color: #ffb86c;
  --primary-color-hover: #ffbf7b;
  --primary-color-active: #e6a661;
  --text-with-main-color: #6272a4;
  --logo-icon-bar-color: url('~../../_icons/iconDraculaDarkSmall.png');
  --logo-text-bar-color: url('~../../_icons/textDraculaDarkSmall.png');
}

.mainDraculaPink {
  --primary-color: #ff79c6;
  --primary-color-hover: #ff86cc;
  --primary-color-active: #e66db2;
  --text-with-main-color: #6272a4;
  --text-with-main-color: #f8f8f2;
  --logo-icon-bar-color: url('~../../_icons/iconDraculaLightSmall.png');
  --logo-text-bar-color: url('~../../_icons/textDraculaLightSmall.png');
}

.mainDraculaPurple {
  --primary-color: #bd93f9;
  --primary-color-hover: #c49efa;
  --primary-color-active: #aa84e0;
  --text-with-main-color: #6272a4;
  --text-with-main-color: #f8f8f2;
  --logo-icon-bar-color: url('~../../_icons/iconDraculaLightSmall.png');
  --logo-text-bar-color: url('~../../_icons/textDraculaLightSmall.png');
}

.mainDraculaRed {
  --primary-color: #ff5555;
  --primary-color-hover: #ff6666;
  --primary-color-active: #e64d4d;
  --text-with-main-color: #f8f8f2;
  --logo-icon-bar-color: url('~../../_icons/iconDraculaLightSmall.png');
  --logo-text-bar-color: url('~../../_icons/textDraculaLightSmall.png');
}

.mainDraculaYellow {
  --primary-color: #f1fa8c;
  --primary-color-hover: #f2fb98;
  --primary-color-active: #d9e17e;
  --text-with-main-color: #6272a4;
  --logo-icon-bar-color: url('~../../_icons/iconDraculaDarkSmall.png');
  --logo-text-bar-color: url('~../../_icons/textDraculaDarkSmall.png');
}

.secRed {
  --accent-color: #f44336;
  --accent-color-hover: #e53935;
  --accent-color-active: #c62828;
  --accent-color-light: #ef9a9a;
  --accent-color-visited: #b71c1c;
  --text-with-accent-color: #ffffff;
  --accent-color-opacity1: rgba(244, 67, 54, 0.04);
  --accent-color-opacity2: rgba(244, 67, 54, 0.12);
  --accent-color-opacity3: rgba(244, 67, 54, 0.16);
  --accent-color-opacity4: rgba(244, 67, 54, 0.24);
}

.secPink {
  --accent-color: #e91e63;
  --accent-color-hover: #d81b60;
  --accent-color-active: #ad1457;
  --accent-color-light: #f48fb1;
  --accent-color-visited: #880e4f;
  --text-with-accent-color: #ffffff;
  --accent-color-opacity1: rgba(233, 30, 99, 0.04);
  --accent-color-opacity2: rgba(233, 30, 99, 0.12);
  --accent-color-opacity3: rgba(233, 30, 99, 0.16);
  --accent-color-opacity4: rgba(233, 30, 99, 0.24);
}

.secPurple {
  --accent-color: #9c27b0;
  --accent-color-hover: #8e24aa;
  --accent-color-active: #6a1b9a;
  --accent-color-light: #ce93d8;
  --accent-color-visited: #4a148c;
  --text-with-accent-color: #ffffff;
  --accent-color-opacity1: rgba(156, 39, 176, 0.04);
  --accent-color-opacity2: rgba(156, 39, 176, 0.12);
  --accent-color-opacity3: rgba(156, 39, 176, 0.16);
  --accent-color-opacity4: rgba(156, 39, 176, 0.24);
}

.secDeepPurple {
  --accent-color: #673ab7;
  --accent-color-hover: #5e35b1;
  --accent-color-active: #4527a0;
  --accent-color-light: #b39ddb;
  --accent-color-visited: #311b92;
  --text-with-accent-color: #ffffff;
  --accent-color-opacity1: rgba(103, 58, 183, 0.04);
  --accent-color-opacity2: rgba(103, 58, 183, 0.12);
  --accent-color-opacity3: rgba(103, 58, 183, 0.16);
  --accent-color-opacity4: rgba(103, 58, 183, 0.24);
}

.secIndigo {
  --accent-color: #3f51b5;
  --accent-color-hover: #3949ab;
  --accent-color-active: #283593;
  --accent-color-light: #9fa8da;
  --accent-color-visited: #1a237e;
  --text-with-accent-color: #ffffff;
  --accent-color-opacity1: rgba(63, 81, 181, 0.04);
  --accent-color-opacity2: rgba(63, 81, 181, 0.12);
  --accent-color-opacity3: rgba(63, 81, 181, 0.16);
  --accent-color-opacity4: rgba(63, 81, 181, 0.24);
}

.secBlue {
  --accent-color: #2196f3;
  --accent-color-hover: #1e88e5;
  --accent-color-active: #1565c0;
  --accent-color-light: #90caf9;
  --accent-color-visited: #0d47a1;
  --text-with-accent-color: #ffffff;
  --accent-color-opacity1: rgba(33, 150, 243, 0.04);
  --accent-color-opacity2: rgba(33, 150, 243, 0.12);
  --accent-color-opacity3: rgba(33, 150, 243, 0.16);
  --accent-color-opacity4: rgba(33, 150, 243, 0.24);
}

.secLightBlue {
  --accent-color: #03a9f4;
  --accent-color-hover: #039be5;
  --accent-color-active: #0277bd;
  --accent-color-light: #81d4fa;
  --accent-color-visited: #01579b;
  --text-with-accent-color: #ffffff;
  --accent-color-opacity1: rgba(3, 169, 244, 0.04);
  --accent-color-opacity2: rgba(3, 169, 244, 0.12);
  --accent-color-opacity3: rgba(3, 169, 244, 0.16);
  --accent-color-opacity4: rgba(3, 169, 244, 0.24);
}

.secCyan {
  --accent-color: #00bcd4;
  --accent-color-hover: #00acc1;
  --accent-color-active: #00838f;
  --accent-color-light: #80deea;
  --accent-color-visited: #006064;
  --text-with-accent-color: #ffffff;
  --accent-color-opacity1: rgba(0, 188, 212, 0.04);
  --accent-color-opacity2: rgba(0, 188, 212, 0.12);
  --accent-color-opacity3: rgba(0, 188, 212, 0.16);
  --accent-color-opacity4: rgba(0, 188, 212, 0.24);
}

.secTeal {
  --accent-color: #009688;
  --accent-color-hover: #00897b;
  --accent-color-active: #00695c;
  --accent-color-light: #80cbc4;
  --accent-color-visited: #004d40;
  --text-with-accent-color: #ffffff;
  --accent-color-opacity1: rgba(0, 150, 136, 0.04);
  --accent-color-opacity2: rgba(0, 150, 136, 0.12);
  --accent-color-opacity3: rgba(0, 150, 136, 0.16);
  --accent-color-opacity4: rgba(0, 150, 136, 0.24);
}

.secGreen {
  --accent-color: #4caf50;
  --accent-color-hover: #43a047;
  --accent-color-active: #2e7d32;
  --accent-color-light: #a5d6a7;
  --accent-color-visited: #1b5e20;
  --text-with-accent-color: #ffffff;
  --accent-color-opacity1: rgba(76, 175, 80, 0.04);
  --accent-color-opacity2: rgba(76, 175, 80, 0.12);
  --accent-color-opacity3: rgba(76, 175, 80, 0.16);
  --accent-color-opacity4: rgba(76, 175, 80, 0.24);
}

.secLightGreen {
  --accent-color: #8bc34a;
  --accent-color-hover: #7cb342;
  --accent-color-active: #558b2f;
  --accent-color-light: #c5e1a5;
  --accent-color-visited: #33691e;
  --text-with-accent-color: #000000;
  --accent-color-opacity1: rgba(139, 195, 74, 0.04);
  --accent-color-opacity2: rgba(139, 195, 74, 0.12);
  --accent-color-opacity3: rgba(139, 195, 74, 0.16);
  --accent-color-opacity4: rgba(139, 195, 74, 0.24);
}

.secLime {
  --accent-color: #cddc39;
  --accent-color-hover: #c0ca33;
  --accent-color-active: #9e9d24;
  --accent-color-light: #e6ee9c;
  --accent-color-visited: #827717;
  --text-with-accent-color: #000000;
  --accent-color-opacity1: rgba(205, 220, 57, 0.04);
  --accent-color-opacity2: rgba(205, 220, 57, 0.12);
  --accent-color-opacity3: rgba(205, 220, 57, 0.16);
  --accent-color-opacity4: rgba(205, 220, 57, 0.24);
}

.secYellow {
  --accent-color: #ffeb3b;
  --accent-color-hover: #fdd835;
  --accent-color-active: #f9a825;
  --accent-color-light: #fff59d;
  --accent-color-visited: #f57f17;
  --text-with-accent-color: #000000;
  --accent-color-opacity1: rgba(255, 235, 59, 0.04);
  --accent-color-opacity2: rgba(255, 235, 59, 0.12);
  --accent-color-opacity3: rgba(255, 235, 59, 0.16);
  --accent-color-opacity4: rgba(255, 235, 59, 0.24);
}

.secAmber {
  --accent-color: #ffc107;
  --accent-color-hover: #ffb300;
  --accent-color-active: #ff8f00;
  --accent-color-light: #ffe082;
  --accent-color-visited: #ff6f00;
  --text-with-accent-color: #000000;
  --accent-color-opacity1: rgba(255, 193, 7, 0.04);
  --accent-color-opacity2: rgba(255, 193, 7, 0.12);
  --accent-color-opacity3: rgba(255, 193, 7, 0.16);
  --accent-color-opacity4: rgba(255, 193, 7, 0.24);
}

.secOrange {
  --accent-color: #ff9800;
  --accent-color-hover: #fb8c00;
  --accent-color-active: #ef6c00;
  --accent-color-light: #ffcc80;
  --accent-color-visited: #e65100;
  --text-with-accent-color: #000000;
  --accent-color-opacity1: rgba(255, 152, 0, 0.04);
  --accent-color-opacity2: rgba(255, 152, 0, 0.12);
  --accent-color-opacity3: rgba(255, 152, 0, 0.16);
  --accent-color-opacity4: rgba(255, 152, 0, 0.24);
}

.secDeepOrange {
  --accent-color: #ff5722;
  --accent-color-hover: #f4511e;
  --accent-color-active: #d84315;
  --accent-color-light: #ffab91;
  --accent-color-visited: #bf360c;
  --text-with-accent-color: #000000;
  --accent-color-opacity2: rgba(255, 87, 34, 0.12);
  --accent-color-opacity3: rgba(255, 87, 34, 0.16);
  --accent-color-opacity4: rgba(255, 87, 34, 0.24);
}

.secDraculaCyan {
  --accent-color: #8be9fd;
  --accent-color-hover: #97ebfd;
  --accent-color-active: #7dd2e4;
  --accent-color-light: #a2edfd;
  --accent-color-visited: #6fbaca;
  --text-with-accent-color: #212121;
  --accent-color-opacity1: rgba(98, 114, 164, 0.04);
  --accent-color-opacity2: rgba(98, 114, 164, 0.12);
  --accent-color-opacity3: rgba(98, 114, 164, 0.16);
  --accent-color-opacity4: rgba(98, 114, 164, 0.24);
}

.secDraculaGreen {
  --accent-color: #50fa7b;
  --accent-color-hover: #62fb88;
  --accent-color-active: #48e16f;
  --accent-color-light: #73fb95;
  --accent-color-visited: #40c862;
  --text-with-accent-color: #212121;
  --accent-color-opacity1: rgba(98, 114, 164, 0.04);
  --accent-color-opacity2: rgba(98, 114, 164, 0.12);
  --accent-color-opacity3: rgba(98, 114, 164, 0.16);
  --accent-color-opacity4: rgba(98, 114, 164, 0.24);
}

.secDraculaOrange {
  --accent-color: #ffb86c;
  --accent-color-hover: #ffbf7b;
  --accent-color-active: #e6a661;
  --accent-color-light: #ffc689;
  --accent-color-visited: #cc9356;
  --text-with-accent-color: #212121;
  --accent-color-opacity1: rgba(98, 114, 164, 0.04);
  --accent-color-opacity2: rgba(98, 114, 164, 0.12);
  --accent-color-opacity3: rgba(98, 114, 164, 0.16);
  --accent-color-opacity4: rgba(98, 114, 164, 0.24);
}

.secDraculaPink {
  --accent-color: #ff79c6;
  --accent-color-hover: #ff86cc;
  --accent-color-active: #e66db2;
  --accent-color-light: #ff94d1;
  --accent-color-visited: #cc619e;
  --text-with-accent-color: #212121;
  --accent-color-opacity1: rgba(98, 114, 164, 0.04);
  --accent-color-opacity2: rgba(98, 114, 164, 0.12);
  --accent-color-opacity3: rgba(98, 114, 164, 0.16);
  --accent-color-opacity4: rgba(98, 114, 164, 0.24);
}

.secDraculaPurple {
  --accent-color: #bd93f9;
  --accent-color-hover: #c49efa;
  --accent-color-active: #aa84e0;
  --accent-color-light: #caa9fa;
  --accent-color-visited: #9776c7;
  --text-with-accent-color: #212121;
  --accent-color-opacity1: rgba(98, 114, 164, 0.04);
  --accent-color-opacity2: rgba(98, 114, 164, 0.12);
  --accent-color-opacity3: rgba(98, 114, 164, 0.16);
  --accent-color-opacity4: rgba(98, 114, 164, 0.24);
}

.secDraculaRed {
  --accent-color: #ff5555;
  --accent-color-hover: #ff6666;
  --accent-color-active: #e64d4d;
  --accent-color-light: #ff7777;
  --accent-color-visited: #cc4444;
  --text-with-accent-color: #212121;
  --accent-color-opacity1: rgba(98, 114, 164, 0.04);
  --accent-color-opacity2: rgba(98, 114, 164, 0.12);
  --accent-color-opacity3: rgba(98, 114, 164, 0.16);
  --accent-color-opacity4: rgba(98, 114, 164, 0.24);
}

.secDraculaYellow {
  --accent-color: #f1fa8c;
  --accent-color-hover: #f2fb98;
  --accent-color-active: #d9e17e;
  --accent-color-light: #f4fba3;
  --accent-color-visited: #c1c870;
  --text-with-accent-color: #212121;
  --accent-color-opacity1: rgba(98, 114, 164, 0.04);
  --accent-color-opacity2: rgba(98, 114, 164, 0.12);
  --accent-color-opacity3: rgba(98, 114, 164, 0.16);
  --accent-color-opacity4: rgba(98, 114, 164, 0.24);
}

body {
  color: var(--primary-text-color);
  background-color: var(--bg-color);
  --red-500: #f44336;
}

#app {
  color: var(--primary-text-color);
  background-color: var(--bg-color);
}

.hideOutlines *:focus {
  outline: none;
}

.rightAligned {
  text-align: right;
}

a:link {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color-hover);
}
