.relative {
	position: relative;
}

.watchVideoRecommendations {
	display: grid;
	grid-gap: 8px;
}

.autoPlayToggle {
	width: 120px;
	position: absolute;
	top: 10px;
}

body[dir='rtl'] .autoPlayToggle {
	left: 0;
}
body[dir='ltr'] .autoPlayToggle {
	right: 0;
}
