name: Auto Merge PR

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the development branch
  pull_request:
    types: [opened, synchronize, reopened]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Enable GitHub Pull Reaquest Auto Merge Action
        # You may pin to the exact commit or the version.
        # uses: poad/github-pull-request-auto-merge-enable-action@89573fd0a329b987282e63d3a81b1c2d260c6648
        uses: poad/github-pull-request-auto-merge-enable-action@v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pull_request_id: ${{ github.event.pull-request.node_id }}
          pull_request_number: ${{ github.event.pull-request.number }}
          owner: FreeTubeApp
          repository: FreeTube
