name: "Label Duplicate"
on:
  issue_comment:
    types: [created]

jobs:
  test:
    if: github.event.comment.author_association == 'MEMBER' || github.event.comment.author_association == 'OWNER'
    runs-on: ubuntu-latest
    steps:
      - name: Check Comment Author
        uses: Amwam/issue-comment-action@v1.5.0
        with:
          keywords: '["duplicate of #", "duplicate of https://github.com/FreeTubeApp/FreeTube/issues/", "duplicate of https://github.com/FreeTubeApp/FreeTube/pulls/"]'
          labels: '["U: duplicate"]'
          github-token: "${{ secrets.GITHUB_TOKEN }}"
