name: Auto Merge PR
on:
  pull_request_target:
    types: [opened, synchronize, reopened, auto_merge_disabled, ready_for_review]

permissions: {}

jobs:
  build:
    if: ${{ !github.event.pull_request.draft && (contains(github.event.pull_request.base.ref, 'development') || contains(github.event.pull_request.base.ref, 'RC')) }}
    runs-on: ubuntu-latest

    steps:
    - name: Auto Merge PR
      shell: bash
      env:
        GH_TOKEN: ${{ secrets.PUSH_TOKEN }}
        PR_NUMBER: ${{ github.event.pull_request.number }}
      run: gh pr merge "https://github.com/FreeTubeApp/FreeTube/pull/${PR_NUMBER}" --auto --squash
