# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build

on:
  push:
    branches: [ master, development, '**-RC' ]
  workflow_dispatch:

permissions: {}

jobs:
  build:

    # As this action runs on every push to the default branch and uses quite a lot of resources (both minutes and caches),
    # only run it in the FreeTubeApp/FreeTube repository to avoid unnecessary GitHub Actions usage/billing in forks.
    # Still allow manually triggering the workflow.
    # If a fork does need this workflow to run on every push to the default branch, they can change this condition in their fork to include their repository.
    if: github.repository == 'FreeTubeApp/FreeTube' || github.event_name == 'workflow_dispatch'

    permissions:
      actions: write
      contents: read

    strategy:
      matrix:
        node-version: [24.x]
        runtime:
          - linux-x64
          - linux-armv7l
          - linux-arm64
          - win-x64
          - win-arm64
          - osx-x64
          - osx-arm64
        include:
        - runtime: linux-x64
          os: ubuntu-latest

        - runtime: linux-armv7l
          os: ubuntu-latest

        - runtime: linux-arm64
          os: ubuntu-latest

        - runtime: osx-x64
          os: macOS-latest

        - runtime: osx-arm64
          os: macOS-latest

        - runtime: win-x64
          os: windows-latest

        - runtime: win-arm64
          os: windows-latest

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      with:
        persist-credentials: false

    - name: 'Use faster D: drive for yarn cache on Windows'
      if: startsWith(matrix.os, 'windows')
      shell: cmd
      run: yarn config set cache-folder D:\ft_yarn_cache

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #v6.2.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: "yarn"
    - run: yarn run ci
      shell: bash
      env:
        ELECTRON_SKIP_BINARY_DOWNLOAD: '1'
    - run: yarn run lint
      shell: bash
    - name: Get Version Number
      id: getPackageInfo
      uses: jaywcjlove/github-action-package@f6a7afaf74f96a166243f05560d5af4bd4eaa570

    - name: Set Version Number Variable
      id: versionNumber
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd #v8.0.0
      env:
        VERSION_NUMBER_NIGHTLY: ${{ steps.getPackageInfo.outputs.version }}-nightly-${{ github.run_number }}
        VERSION_NUMBER_RC: ${{ steps.getPackageInfo.outputs.version }}-RC-${{ github.run_number }}
        VERSION_NUMBER: ${{ steps.getPackageInfo.outputs.version }}
      with:
        result-encoding: string
        script: |
          if (context.ref.toLowerCase().includes('development')) {
            return `${process.env.VERSION_NUMBER_NIGHTLY}`
          } else if (context.ref.toUpperCase().includes('RC')) {
            return `${process.env.VERSION_NUMBER_RC}`
          } else {
            return `${process.env.VERSION_NUMBER}`
          }

    - name: Update package.json version
      uses: jaywcjlove/github-action-package@f6a7afaf74f96a166243f05560d5af4bd4eaa570
      with:
        version: ${{ steps.versionNumber.outputs.result }}

    - name: Install libarchive-tools
      if: startsWith(matrix.os, 'ubuntu')
      shell: bash
      run: |
        sudo apt update
        sudo apt -y install libarchive-tools

    - name: Build x64 with Node.js ${{ matrix.node-version}}
      if: contains(matrix.runtime, 'x64')
      shell: bash
      run: yarn run build

    - name: Build ARMv7l with Node.js ${{ matrix.node-version}}
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-armv7l')
      shell: bash
      run: yarn run build:arm32

    - name: Build ARM64 with Node.js ${{ matrix.node-version}}
      if: contains(matrix.runtime, 'arm64')
      shell: bash
      run: yarn run build:arm64

    - name: Convert X64 AppImage to static runtime
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-x64')
      shell: bash
      env:
        VERSION: ${{ steps.versionNumber.outputs.result }}
      run: |
        sudo apt install desktop-file-utils
        cd build
        appimage="FreeTube-${VERSION}.AppImage"
        wget "https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage" -O ./appimagetool.AppImage
        chmod +x ./"$appimage" ./appimagetool.AppImage
        ./"$appimage" --appimage-extract && rm -f ./"$appimage"
        ./appimagetool.AppImage --comp zstd --mksquashfs-opt -Xcompression-level --mksquashfs-opt 20 \
          -n ./squashfs-root ./"$appimage"
        rm -rf ./squashfs-root ./appimagetool.AppImage

    - name: Upload Linux .zip x64 Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-x64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-linux-x64-portable.zip
        path: build/freetube-${{ steps.versionNumber.outputs.result }}.zip

    - name: Upload Linux .7z x64 Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-x64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-linux-x64-portable.7z
        path: build/freetube-${{ steps.versionNumber.outputs.result }}.7z

    - name: Upload Linux .zip ARMv7l Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-armv7l')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-linux-armv7l-portable.zip
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-armv7l.zip

    - name: Upload Linux .7z ARMv7l Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-armv7l')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-linux-armv7l-portable.7z
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-armv7l.7z

    - name: Upload Linux .zip ARM64 Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-arm64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-linux-arm64-portable.zip
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-arm64.zip

    - name: Upload Linux .7z ARM64 Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-arm64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-linux-arm64-portable.7z
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-arm64.7z

    - name: Upload .deb x64 Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-x64')
      with:
        name: freetube_${{ steps.versionNumber.outputs.result }}_amd64.deb
        path: build/freetube_${{ steps.versionNumber.outputs.result }}_amd64.deb

    - name: Upload .deb ARMv7l Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-armv7l')
      with:
        name: freetube_${{ steps.versionNumber.outputs.result }}_armv7l.deb
        path: build/freetube_${{ steps.versionNumber.outputs.result }}_armv7l.deb

    - name: Upload .deb ARM64 Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-arm64')
      with:
        name: freetube_${{ steps.versionNumber.outputs.result }}_arm64.deb
        path: build/freetube_${{ steps.versionNumber.outputs.result }}_arm64.deb

    - name: Upload AppImage x64 Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-x64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-amd64.AppImage
        path: build/FreeTube-${{ steps.versionNumber.outputs.result }}.AppImage

    - name: Upload AppImage ARMv7l Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-armv7l')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-armv7l.AppImage
        path: build/FreeTube-${{ steps.versionNumber.outputs.result }}-armv7l.AppImage

    - name: Upload AppImage ARM64 Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-arm64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-arm64.AppImage
        path: build/FreeTube-${{ steps.versionNumber.outputs.result }}-arm64.AppImage

    - name: Upload .rpm x64 Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-x64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}.amd64.rpm
        path: build/freetube-${{ steps.versionNumber.outputs.result }}.x86_64.rpm

    # rpm are not built for armv7l

    - name: Upload .rpm ARM64 Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-arm64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}.arm64.rpm
        path: build/freetube-${{ steps.versionNumber.outputs.result }}.aarch64.rpm

    - name: Upload Pacman .pacman x64 Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'ubuntu') && startsWith(matrix.runtime, 'linux-x64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-amd64.pacman
        path: build/freetube-${{ steps.versionNumber.outputs.result }}.pacman

    - name: Upload Windows x64 .exe Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'windows') && startsWith(matrix.runtime, 'win-x64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-setup-x64.exe
        path: build/freetube Setup ${{ steps.versionNumber.outputs.result }}.exe

    - name: Upload Windows x64 Portable Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'windows') && startsWith(matrix.runtime, 'win-x64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-win-x64-portable.exe
        path: build/freetube ${{ steps.versionNumber.outputs.result }}.exe

    - name: Upload Windows x64 .zip Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'windows') && startsWith(matrix.runtime, 'win-x64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-win-x64-portable.zip
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-win.zip

    - name: Upload Windows x64 .7z Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'windows') && startsWith(matrix.runtime, 'win-x64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-win-x64-portable.7z
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-win.7z

    - name: Upload Windows arm64 .exe Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'windows') && startsWith(matrix.runtime, 'win-arm64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-setup-arm64.exe
        path: build/freetube Setup ${{ steps.versionNumber.outputs.result }}.exe

    - name: Upload Windows arm64 Portable Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'windows') && startsWith(matrix.runtime, 'win-arm64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-win-arm64-portable.exe
        path: build/freetube ${{ steps.versionNumber.outputs.result }}.exe

    - name: Upload Windows arm64 .zip Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'windows') && startsWith(matrix.runtime, 'win-arm64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-win-arm64-portable.zip
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-arm64-win.zip

    - name: Upload Windows arm64 .7z Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'windows') && startsWith(matrix.runtime, 'win-arm64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-win-arm64-portable.7z
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-arm64-win.7z

    - name: Upload Mac x64 .dmg Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'macos') && startsWith(matrix.runtime, 'osx-x64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-mac-x64.dmg
        path: build/freetube-${{ steps.versionNumber.outputs.result }}.dmg

    - name: Upload Mac x64 .zip Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'macos') && startsWith(matrix.runtime, 'osx-x64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-mac-x64.zip
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-mac.zip

    - name: Upload Mac x64 .7z Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'macos') && startsWith(matrix.runtime, 'osx-x64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-mac-x64.7z
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-mac.7z

    - name: Upload Mac arm64 .dmg Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'macos') && startsWith(matrix.runtime, 'osx-arm64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-mac-arm64.dmg
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-arm64.dmg

    - name: Upload Mac arm64 .zip Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'macos') && startsWith(matrix.runtime, 'osx-arm64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-mac-arm64.zip
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-arm64-mac.zip

    - name: Upload Mac arm64 .7z Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      if: startsWith(matrix.os, 'macos') && startsWith(matrix.runtime, 'osx-arm64')
      with:
        name: freetube-${{ steps.versionNumber.outputs.result }}-mac-arm64.7z
        path: build/freetube-${{ steps.versionNumber.outputs.result }}-arm64-mac.7z
