# This is a basic workflow to help you get started with Actions

name: Linter

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master, development, '**-RC' ]

permissions: {}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  lint:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    permissions:
      actions: write
      contents: read

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
      with:
        persist-credentials: false

    - name: Use Node.js 24.x
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #v6.2.0
      with:
        node-version: 24.x
        cache: "yarn"
    - run: yarn run ci
      shell: bash
      env:
        ELECTRON_SKIP_BINARY_DOWNLOAD: '1'
    - run: yarn run lint
      shell: bash
    # let's verify that webpack is able to package the project
    - run: yarn run pack
      shell: bash
    # verify that webpack is able to package the project using the web config
    - run: yarn run pack:web
      shell: bash
